[2016-12-02 19:04] MisterTea opened #1 "Wrap all code in an et namespace"

[2016-12-02 19:05] MisterTea opened #2 "Convert Test* in sandbox to google tests"

[2016-12-02 19:06] MisterTea opened #3 "Create a doc on how to install glog/gflags -or- have our cmake script automatically build them."

[2016-12-02 19:08] MisterTea opened #4 "Add continuous integration so our tests are run on every push."

[2016-12-08 03:02] #1 closed

[2017-01-24 06:27] #3 closed

[2017-02-23 01:58] guidao opened #7 "Download Page link is local host"
link:  https://mistertea.github.io/EternalTCP/usermanual/

[2017-02-23 01:58] #7 closed

[2017-02-23 03:27] MisterTea commented on #7
Thanks!

[2017-03-01 21:55] MisterTea commented on #4
Fixed by 4a7510f9f1ccae6dbff6dcb2a25a438afaf32a2b et al

[2017-03-01 21:55] #4 closed

[2017-03-03 00:27] tiktuk opened #10 "SSH on another port?"
How do I tell `et` that I have my ssh server on another port?

[2017-03-03 00:34] MisterTea commented on #10
The -s parameter should let you do this:

For example, if ssh is on port 1234 and you have port 5678 open:
[code]

[2017-03-03 10:27] tiktuk commented on #10
I tried that but I get

    et -s <host>:<port> <host>
    Pseudo-terminal will not be allocated because stdin is not a terminal.
    ssh: connect to host <host> port 22: Connection refused
    Unless you are doing development on Eternal Terminal,
    please do not call etclient directly.

(With proper values for host and port of course.)

It still tries to connect on port 22 even though another p

[2017-03-03 19:41] MisterTea commented on #10
Ok this is fixed in cc568f73ae7eb775eca602949e126b1bc9fde04f

The correct usage is this:
[code]

Please make the change to your launcher and let me know if it works.

[2017-03-03 19:54] tiktuk commented on #10
Ok, thanks, it works ☺️ !

And it works correctly with iTerm2 and its tmux integration it seems, so cool! (mosh doesn't). This looks like a killer program, thank you 😄!

[2017-03-03 19:54] #10 closed

[2017-03-03 20:12] MisterTea commented on #10
Thanks!  Glad you like it :-D

[2017-03-08 10:08] tiktuk opened #11 "High CPU Usage"
I just noticed that something was using a lot of power on my MacBook Air 11" and to my surprise it was ET:

![screen shot 2017-03-08 at 11 03 10](https://cloud.githubusercontent.com/assets/153722/23699375/37d132ac-03ef-11e7-827d-9875a82d4d0d.png)

Any ideas?

[2017-03-08 15:40] MisterTea commented on #11
Are you running something that produces a lot of output all the time?

On Wed, Mar 8, 2017, 2:09 AM Tuk Bredsdorff <notifications@github.com>
wrote:

[2017-03-08 16:52] tiktuk commented on #11
No, just a bash prompt.

I restarted it and now it's at around 3.4 % CPU usage which still seems a bit much but not outrageous.

[2017-03-08 18:39] MisterTea commented on #11
Actually I see the same on my machine, I just never noticed. It shouldn't
be hard to fix.

On Wed, Mar 8, 2017, 8:52 AM Tuk Bredsdorff <notifications@github.com>
wrote:

[2017-03-08 20:10] MisterTea commented on #11
Alright this should be fixed by 1442b56bf7ecd3c9113c12ed5b7d5d835f1c765b

Here's a mac binary, can you try this and confirm that your energy impact is reduced?

[etclient.zip](https://github.com/MisterTea/EternalTCP/files/828831/etclient.zip)

[2017-03-09 00:08] tiktuk commented on #11
Yes, now it's at around 0.4 %, thanks so much ☺️ !

[2017-03-09 00:08] #11 closed

[2017-03-09 17:36] tiktuk opened #12 "Compile fails with error: ‘gflags’ has not been declared when compiling from source"
I'm trying to compile et on Debian (3.16.39-1).

I got most of the way by installing a few libs:

[code]

Now `make` just fails like this:

[code]

Any ideas?

[2017-03-09 18:08] MisterTea commented on #12
Hey, I think you are missing the gflags dependency.

Here's a list of the deps you need:
[code]

You can find this out from launchpad: https://launchpadlibrarian.net/307528352/et_2.0.1-1ubuntu1.dsc

Let me know if installing the gflags dev package fixes your issue.

[2017-03-09 18:41] tiktuk commented on #12
True, I didn't have that installed. I get the same error though.

But I solved it by changing `glags` to `google` as mentioned in [this comment](https://github.com/BVLC/caffe/issues/2597#issuecomment-111651389). Apparently it's been renamed in version 2.1 of gflags and I guess my version of Debian install 2.0 though it says 2.0-2.1, confusingly:

[code]

It's used [here](https://github.com/MisterT

[2017-03-09 19:23] tiktuk opened #14 "Confusing message about stdin"
Whenever I run `et` it prints the message `Pseudo-terminal will not be allocated because stdin is not a terminal.`, even though it is being run from a terminal.

Isn't that a mistake?

[2017-03-09 19:55] MisterTea commented on #12
Oh interesting. We should be able to support both this way:

using namespace google;
using namespace gflags;

And then not putting the namespace. Can you try this and verify that it
compiles?
On Thu, Mar 9, 2017 at 10:41 AM Tuk Bredsdorff <notifications@github.com>
wrote:

[2017-03-09 21:57] tiktuk commented on #12
No, I get

[code]

😟 .

[2017-03-09 22:46] tiktuk opened #15 "Remote forward failing under ET"
One of my favourite tools is [rmate](https://github.com/textmate/rmate) which can open files in TextMate 2 from an ssh session. For that to work it needs to make a remote forward. I just noticed that this fails when running under ET, even though ssh reports the forward as successful when started by ET.

(In the command below it gets the remote forward argument from `~/.ssh/config`.)

[code]

Tryin

[2017-03-09 23:11] tiktuk commented on #15
Damn, I just read your How It Works-page 😟 .

and

I guess I'll just need to keep a regular ssh session open for `rmate`…

[2017-03-10 15:53] MisterTea commented on #12
Hmm, how about this:

namespace google {}
namespace gflags {}
using namespace google;
using namespace gflags;

On Thu, Mar 9, 2017, 1:57 PM Tuk Bredsdorff <notifications@github.com>
wrote:

[2017-03-10 15:56] MisterTea commented on #15
Yeah, for this to work someone would have to implement ssh on top of ET.
It's not as hard as it sounds, but it's significant work.

On Thu, Mar 9, 2017, 3:11 PM Tuk Bredsdorff <notifications@github.com>
wrote:

[2017-03-10 23:33] MisterTea commented on #15
If rmate is just a command, why not use ssh and set up a public/private key so you don't have to type your password?

[2017-03-10 23:36] #14 closed

[2017-03-10 23:37] #2 closed

[2017-03-11 18:38] tiktuk commented on #12
Yes, that worked!

Thanks ☺️ !

[2017-03-11 18:38] #12 closed

[2017-03-11 18:46] tiktuk commented on #15
Oh, I have that, but I would prefer to use ET instead of logging in every time I've lost my connection…

Which text editor do you use, if I may ask? Maybe there's something like rmate for it. It's really hard to go back after trying that ☺️.

[2017-03-11 19:11] MisterTea commented on #15
I use emacs within tmux -CC. I also use atom with remote folders. It uses
SSH with public/private keys so you don't have to enter a password.

On Sat, Mar 11, 2017, 10:46 AM Tuk Bredsdorff <notifications@github.com>
wrote:

[2017-03-11 19:12] MisterTea commented on #12
Can you file a pull request to fix this for everyone?

On Sat, Mar 11, 2017, 10:38 AM Tuk Bredsdorff <notifications@github.com>
wrote:

[2017-03-11 19:44] tiktuk commented on #12
Sure: https://github.com/MisterTea/EternalTCP/pull/16.

[2017-03-11 19:53] tiktuk commented on #15
So you have some kind of SFTP browser inside Atom?

The cool thing about rmate is that you can open a file in one's local GUI editor from the remote ssh terminal session, just like opening emacs/vi.

It's implemented for Atom here: https://atom.io/packages/remote-atom.

I think it's really wonderful user experience ☺️ .

[2017-03-11 20:01] MisterTea commented on #15
Yeah the remote folder thing in atom automatically reconnects so using it
with et is kind of redundant.

On Sat, Mar 11, 2017, 11:53 AM Tuk Bredsdorff <notifications@github.com>
wrote:

[2017-03-11 20:11] tiktuk commented on #15
Ok, maybe I'll look for a similar solution ☺️ .

[2017-03-14 02:41] willsALMANJ opened #17 "Comparison to similar tools?"
Eternal Terminal seems similar to other projects like mosh and autossh. I think it would be helpful to have a review of the differences between these tools in the documentation.

[2017-03-14 21:24] #17 closed

[2017-03-14 21:24] MisterTea commented on #17
Thanks for the feedback!

[2017-03-15 00:48] NikolasOliveira opened #18 "et seg faults on network disconnect"
Hey ET!

I'm a heavy mosh user, but would love to move to something that let's me maintain native scroolback, so I'm a big fan of this project.

I built if from source today (to get around the bugs that have been fixed since the last deb was built) but have run into an issue with network disconnects.
The scenario is as follows:

Successful connection with et:
[code]
Then on my client machine I kil

[2017-03-15 02:10] MisterTea commented on #18
I can't seem to download the files you posted?

Can you pastebin the client logs for now?
On Tue, Mar 14, 2017 at 5:48 PM NikolasOliveira <notifications@github.com>
wrote:

[2017-03-15 03:35] NikolasOliveira commented on #18
Here are the results with -v

Same process:

Successful connection:
[code]
Disconnect the network:
[code]
Seg fault on the et session:
[code]
Log attached.
[etclientLogs.tar.gz](https://github.com/MisterTea/EternalTCP/files/843372/etclientLogs.tar.gz)
[etserverLogs.tar.gz](https://github.com/MisterTea/EternalTCP/files/843371/etserverLogs.tar.gz)

I can upload the core if that'll help, but I don't

[2017-03-16 17:47] MisterTea commented on #15
I'm going to close this but feel free to reopen if something comes up

[2017-03-16 17:47] #15 closed

[2017-03-16 17:49] MisterTea commented on #18
Hmm, there's nothing in the logs.  Can you get a stack trace from the seg fault?

Run like this to get a stack trace (use the 'bt' command to print the whole stack trace):

[code]

[2017-03-16 20:15] NikolasOliveira commented on #18
Same process as before so I'll skip outlining the steps and just paste the backtrace:

NOTE: I had to edit the `et` shell script and prepend the call to the etclient binary with the `gdb` call, since `gdb` was not happy running on `et` directly (complaining that it wasn't an executable binary).
[code]

[2017-03-16 22:37] MisterTea commented on #18
Hmm, the stack trace doesn't have the line numbers in it.  Are you using the binary from the repo or did you build your own?

[2017-03-16 22:44] MisterTea commented on #18
I found one case where it's possible to get strlen(NULL), but it means the socket creation failed, which is very strange.  Either way, try the latest master and let me know if the problem goes away.

[2017-03-16 22:46] NikolasOliveira commented on #18
@MisterTea This is a build of master from 2 days ago. Is there anything new since then?
Also, how often do you archive master (https://github.com/MisterTea/EternalTCP/archive/master.zip)?

[2017-03-16 22:57] MisterTea commented on #18
I just pushed a change 13 minutes ago.  Master gets archived automatically by github

[2017-03-16 23:00] MisterTea commented on #18
Since you are building it yourself, can you build a debug binary so I can see the line numbers?  You can do this by using ccmake and changing the build type to debug

[2017-03-16 23:06] NikolasOliveira commented on #18
Ah, didn't know that zip was built automatically. I'll try fresh code tonight.

[2017-03-16 23:12] MisterTea commented on #18
Cool, you can also set debug mode like this:

[code]

[2017-03-16 23:20] NikolasOliveira commented on #18
Yupp, will do

[2017-03-17 03:17] NikolasOliveira commented on #18
Repro with latest code and debug symbols:
[code]

[2017-03-17 04:29] MisterTea commented on #18
Wow this is really strange.  Just before the line that's crashing, can you add this:
[code]

and let me know what it says.

[2017-03-17 04:29] MisterTea commented on #18
Also what OS are you running?

[2017-03-17 16:44] NikolasOliveira commented on #18
Sure I can take a look at that. But it might be easier for me to just checkout a dev branch with all the debug logging you want in it and build that and test with it?

Ubuntu 16.04 on both ends:
[code]
[code]

[2017-03-17 17:06] tiktuk commented on #15
Sure.

One last question though: Can't ET just keep up the ssh connection it establishes? The remote forward does indeed succeed in the first place.

[2017-03-17 18:17] MisterTea commented on #15
For that to work, someone would have to integrate libssh or openssh into
et.
On Fri, Mar 17, 2017 at 10:06 AM Tuk Bredsdorff <notifications@github.com>
wrote:

[2017-03-17 20:36] MisterTea commented on #18
A debug branch is a good idea.  If we don't get to the bottom of it with that print then I'll do that.

[2017-03-19 01:55] NikolasOliveira commented on #18
Here are the results. I directed the logging to stderr so that it'd show up in the `/tmp/et_err log`:
[code]
And the logging:
[code]

[2017-03-20 16:55] MisterTea commented on #18
Ok I found the problem.  getaddrinfo(), unlike most of the unix functions, returns the error code directly instead of returning -1 and expecting you to check the error code.  I should have a fix for this soon, but I want to make sure I handle the errors correctly.

[2017-03-20 16:56] MisterTea commented on #18
Out of curiosity, can you print the return value from getaddrinfo?

I want to know what rc is after this line:
[code]

[2017-03-20 16:58] MisterTea commented on #18
It's probably EAI_NODATA since you are manually killing your network interface.

[2017-03-20 18:06] MisterTea commented on #18
Whatever the error is, https://github.com/MisterTea/EternalTCP/commit/3018cc30f12740aab82350258bdf23cb9829aee5 will keep retrying instead of crashing the client, so latest master should work for you.  Please close if this fixes the issue.

[2017-03-21 17:04] NikolasOliveira commented on #18
Hit another seg fault :(
[code]
Client logfile contents:
[code]

[2017-03-21 18:19] MisterTea commented on #18
Whoops, that's my fault.  Fixing...

[2017-03-21 18:20] MisterTea commented on #18
Ok try now.  Sorry for all the iterations: it's hard to fix something I can't reproduce.

[2017-03-21 18:25] NikolasOliveira commented on #18
I'll try that patch later this afternoon.
It is curious that you can't repro it with your testing. Any idea what's unique about my setup?

[2017-03-21 18:33] MisterTea commented on #18
Not sure, I would need to know the error code you are getting to find out.

[2017-03-21 20:41] NikolasOliveira commented on #18
We have a winner!

Thanks for chasing this down @MisterTea, I'm excited to get some real usage out of et now.

Cheers,
Niko

[2017-03-21 20:41] #18 closed

[2017-03-22 16:15] Pyrepenol opened #19 "Issue with connection"
I was piqued by this app after being let down by Mosh's lack of scrollback ability, so I decided to try it out.

Well, unfortunately I'm not able to connect with the server. I'm able to authenticate, but the session closes right afterwards without an error. I'm able to manually start etclient and etserver and make a connection, but it seems that using et to do it the proper way always ends with it

[2017-03-22 19:05] MisterTea commented on #19
can you try running et with bash -x and see what et is doing differently that you?  Also can you share what you did manually to get it to work?
Example:
[code]

[2017-03-23 11:47] toavinaandria opened #20 "Support multiple connections on a single port"
Hi,

I have the et server running on my remote host and can ssh into it (passwordless) without problems. However, if I try to run:

`et username@host` I get a permission denied.

The log file shows the following:

usr/local/bin/et: line 116:  5272 Segmentation fault: 11  $CLIENT_BINARY --passkeyfile="$TMPFILE" $VERBOSITY --host="$HOSTNAME" --port="$PORT" --log_dir="$LOG_DIR" 2> /tmp/et_err

I trie

[2017-03-23 14:48] Pyrepenol commented on #19
Got it. Looks like Fish shell on my server might be the culprit. I'll try it now with Bash instead.

[2017-03-23 14:53] Pyrepenol commented on #19
Just tried it with /bin/bash and /bin/sh and they both gave the same output, besides the fish:debug1 line.

The way I got it to work previously was by manually starting etserver and etclient. I didn't have to do anything but provide the connection details and the encryption key from a previous connection attempt.

I forgot to mention that the client is on WSL, I'm not sure if that's relevant.

[2017-03-23 16:02] MisterTea commented on #19
It looks like you built your own binary and are using a version of glog that doesn't depend on gflags.
What's WSL?

[2017-03-23 16:04] MisterTea commented on #20
et -v works but logs to a file so it doesn't clobber your terminal. Can you post the client and server logs?

To collect logs, run the following on your client:

tar -cvzPhf /tmp/etclientLogs.tar.gz /tmp/et_err /tmp/etclient.INFO

Then run this on your server:

tar -cvzPhf /tmp/etserverLogs.tar.gz /tmp/et_err /tmp/etserver.INFO

The logs will contain the IP addresses & username of the client and s

[2017-03-23 16:28] Pyrepenol commented on #19
Windows subservice for Linux. Lets me run bash directly on windows 10. I'm also using it with Arch on both the client and server, so I had to manually install all the dependencies. I just spent an hour or so trying to make sure they were installed correctly and I believe they are.

[2017-03-23 16:50] MisterTea commented on #19
Ok got it: So when you build glog, you can choose to link in gflags and enable flags for logging.  "alsologtostderr" is one of these flags that you only get if you build glog with gflags support.  I guess when you built glog you didn't depend on gflags and this is why you don't have the alsologtostderr flag.

Please build glog with gflags support and try again.

[2017-03-23 17:12] MisterTea commented on #19
Actually when you said "install all the dependencies" did you mean build from source, or use arch's install?  If Arch's version of glog doesn't have flag support, that's a bigger problem.

[2017-03-23 17:13] MisterTea commented on #19
In the meantime a workaround is to remove the --alsologtostderr flag from the launcher: https://github.com/MisterTea/EternalTCP/blob/master/launcher/et#L109

[2017-03-23 17:37] MisterTea commented on #19
Ah yeah, ArchLinux's glog doesn't depend on gflags.  Here's a workaround: https://bbs.archlinux.org/viewtopic.php?id=212838

[2017-03-23 17:49] MisterTea commented on #20
f2e975b8504eb183fc047829a238793e8700c3ec updates the launcher so running et --help now shows the verbose flag.

[2017-03-24 09:15] toavinaandria commented on #20
Thanks.

The client log is empty (both etclient.INFO and /tmp/et_err)

I cannot run the server log (permission denied) as it's being used by another user.

However, if I run the et client on my local machine with username@IPaddress, I get the following error:

/usr/local/bin/et: line 116:  4824 Segmentation fault: 11  $CLIENT_BINARY --passkeyfile="$TMPFILE" $VERBOSITY --host="$HOSTNAME" --port="$P

[2017-03-24 15:26] MisterTea commented on #20
Hmm, if the log is empty that may be the glog issue. What happens if you
run this:

etclient --alsologtostderr

Also what is is the client and server?

On Fri, Mar 24, 2017, 2:15 AM Toavina Andriamanerasoa <
notifications@github.com> wrote:

[2017-03-27 23:04] NikolasOliveira opened #21 "Multiple et connections"
Before I start attaching any logs as if there were a bug, let me first ask if this ticket should be a feature request:
Should it currently be possible to connect from a client to a server multiple times with `et`?

I connect from my laptop to a desktop/VM located in my work office to do most of my work (hence things like `mosh`/`et` being so useful as I roam with my laptop) and in doing so I open

[2017-03-28 00:59] MisterTea commented on #21
That's by design.  There's no et daemon that starts when your machine boots, so it spawns an et server when you connect.  You can't have multiple servers listening on the same port, so it kicks out other servers.
If you want multiple terminals, you should be using "tmux -CC" which lets you have multiple tabs and windows using the same connection.  Unfortuntely, only iTerm (mac only) and a fork of

[2017-03-28 18:18] NikolasOliveira commented on #21
Thanks for the quick response @MisterTea!
I unfortunately don't use a terminal emulator that supports tmux -CC; further to that I use a tiled window manager that does all my tabbing, window organizing and tiling already and would like to avoid introducing yet another layer on top of that with tmux -CC if I can avoid it.

So as of now the `et` one connection limit is kind of a deal breaker for me :

[2017-03-28 18:33] MisterTea commented on #21
Sure. I also don't like this limitation so I'll look into it and see if I
can find a simple way to make it happen
On Tue, Mar 28, 2017 at 11:18 AM NikolasOliveira <notifications@github.com>
wrote:

[2017-03-31 07:44] toavinaandria commented on #20
I get the below message if I run etclient --alsologtostderr

"""Unless you are doing development on Eternal Terminal,
please do not call etclient directly.

The et launcher (run on the client) calls etclient with the correct parameters.
This ensures a secure connection.

If you intended to call etclient directly, please provide a passkey
(run "etclient --help" for details)."""

The client is MacOS

[2017-04-03 20:44] MisterTea commented on #20
Oh I think I know the problem.  Are you and your colleagues all trying to log into the same machine?  At the moment each person using ET needs to use their own dedicated port on the server.  It's a goofy limitation and I'm looking into softening it, but it's not obvious how to do that and clean up old sessions correctly.

[2017-04-03 20:45] MisterTea commented on #19
@Pyrepenol Let me know if any of those solutions worked for you, thanks!

[2017-04-04 07:18] toavinaandria commented on #20
Yes we are looking to log into the same machine, so that is probably the issue.

[2017-04-04 16:03] MisterTea commented on #20
For now you have to open up a port on the machine for each of you and you
each have to use a different port. I will fix this in the next version.
On Tue, Apr 4, 2017 at 12:18 AM Toavina Andriamanerasoa <
notifications@github.com> wrote:

[2017-04-04 16:19] toavinaandria commented on #20
Thank you! Very helpful

[2017-04-04 21:27] MisterTea commented on #21
Dupe of #20

[2017-04-04 21:27] #21 closed

[2017-04-05 08:40] MisterTea commented on #20
I'm doing this work in https://github.com/MisterTea/EternalTCP/tree/multiplex

I'll let you know when there's something that works.

[2017-04-05 08:41] toavinaandria commented on #20
Thank you!

[2017-04-05 09:24] NoahO opened #23 "Consider UDP Support"
Love the idea, Mosh is really unusable for me because of the no scrollback.

However, one of the great things about Mosh for me is the UDP support.

Certain countries (read between the lines..) rate limit / throttle SSH traffic because it is useful for firewall evasion.. To the point where if I do a certain amount of traffic over SSH to a box, *all* packets on any protocol to that IP get delayed i

[2017-04-05 14:49] vvug opened #24 "Debian packaging"
Please package this very useful software for the Debian distribution.

[2017-04-06 00:11] MisterTea commented on #23
ET only uses ssh to initialize the connection. After that it uses a custom
protocol that runs on a separate port. Do you really need UDP or is it
sufficient to simply not be on the same port/protocol as ssh?
On Wed, Apr 5, 2017 at 2:28 AM NoahO <notifications@github.com> wrote:

[2017-04-06 00:12] MisterTea commented on #24
How would I go about doing this? Do I email the Debian developers or
something?
On Wed, Apr 5, 2017 at 7:49 AM vvug <notifications@github.com> wrote:

[2017-04-06 03:06] NoahO commented on #23
If it is encrypted TCP then it will be flow limited by some countries. It's an open TCP session so they can write a rule like "Any session open for a long time that isn't whitelisted should be limited"

If it's encrypted UDP then it's hard for them to count it as a "session" without storing a lot of state in memory. So to write a similar rule they'd have to correlate UDP packets over time..

[2017-04-06 05:00] MisterTea commented on #23
That's true in theory, but note that adding UDP support would be
significant work. If ET isn't being throttled at the moment, I would rather
not have to support UDP until it's absolutely needed.

On Wed, Apr 5, 2017 at 8:06 PM NoahO <notifications@github.com> wrote:

If it is encrypted TCP then it will be flow limited by some countries. It's
an open TCP session so they can write a rule like "Any s

[2017-04-06 07:11] NoahO commented on #23
I agree, and at this stage probably not relevant to a whole lot of people. But I thought better to know about it at an (earlier) stage than a later stage. I don't expect you to do anything about it but better I say something now than later..

This I can't really comment on. Different regions have different policies. But it's not unreasonable to assume that some are a white-list approach and random

[2017-04-06 15:00] MisterTea commented on #23
Also note that if a company is going so far as to detect ET packets, they
would be able to do this for udp as well. You can't encrypt the packet
header

On Thu, Apr 6, 2017, 12:11 AM NoahO <notifications@github.com> wrote:

[2017-04-07 00:30] MisterTea commented on #20
FYI: Multi user ET works now as of this commit: d971c909a7ac227b8b851746433aaff8d201baad

To use it, build this version on client and server.  Then on the server use screen/mosh and run this:
[code]

And build this version on the client and use this version's launcher:
[code]

I still have a lot of work to do to make a real unix daemon, set up a config file, etc. etc. but I should have something m

[2017-04-11 15:45] cjthompson opened #25 "done <<< "$ET_SERVER_COMMANDS""
When I try to connect to a remote Ubuntu server, I always get
[code]

I installed it on my Mac view Homebrew.  The remote server is Ubuntu 16.04 (armhf).  There are no pre-built arm binaries, so I cloned the Git repo and ran cmake / make / make install.

[2017-04-11 16:56] MisterTea commented on #25
It looks like fish isn't handling the launcher correctly. Try using bash:

bash et ...
On Tue, Apr 11, 2017 at 8:45 AM Chris Thompson <notifications@github.com>
wrote:

[2017-04-11 17:18] cjthompson commented on #25
I tried it within a bash shell:
[code]

and `bash et ....`

The remote server is also running fish as my default shell.  The script starts with `#!/bin/bash`, so I don't understand why it would even be trying to run fish.

[2017-04-11 17:23] MisterTea commented on #25
Ah yeah the server must be running the script as fish. Can you change the
launcher so the server command also has a bash in front of it?

On Tue, Apr 11, 2017, 10:18 AM Chris Thompson <notifications@github.com>
wrote:

[2017-04-11 17:54] cjthompson commented on #25
I was able to get it running like this:
[code]

[2017-04-11 18:31] MisterTea commented on #25
Can you submit a pull request with that change?  Thanks!

On Tue, Apr 11, 2017, 10:54 AM Chris Thompson <notifications@github.com>
wrote:

[2017-04-19 09:50] MisterTea commented on #25
Fixed by 8dfa5893037c67136994fe067f4ff6bfca052080

[2017-04-19 09:50] #25 closed

[2017-04-19 09:52] #19 closed

[2017-04-19 13:55] divinity76 commented on #23
when you say that SSH traffic is throttled, is it the Great Firewall of China that you're talking about?

[2017-04-29 22:30] MarkSwanson opened #29 "Ubuntu 14.04: unmet dependencies"
All of my machines are 14.04 atm.
Which Ubuntu do I need to make EternalTCP work?

The following packages have unmet dependencies:
 et : Depends: libncurses5 (>= 6) but 5.9+20140118-1ubuntu1 is to be installed
      Depends: libprotobuf9v5 but it is not installable
      Depends: libsodium18 (>= 0.6.0) but it is not installable
      Depends: libstdc++6 (>= 5.2) but 4.8.4-2ubuntu1~14.04.3 is to be

[2017-04-29 22:46] MisterTea commented on #29
14.04 seems to be too old. Can you upgrade to the latest LTS?  I think it's
16.04

On Sat, Apr 29, 2017, 3:30 PM MarkSwanson <notifications@github.com> wrote:

[2017-04-30 15:34] MarkSwanson commented on #29
All of our corporate machines and VMs are still on 14.04.
No worries.
Maybe it would help others if the docs specified Ubuntu >= 16.

[2017-04-30 16:25] MisterTea commented on #29
I'll try to make a 14.04 build. It may be as simple as just building it
against that OS

On Sun, Apr 30, 2017, 8:34 AM MarkSwanson <notifications@github.com> wrote:

[2017-04-30 17:48] eskhool commented on #24
Did the google search for you, but I won't kid you...the process looks long, boring and intimidating but should get this awesome piece of code out there much quicker than the PPA route.

https://wiki.debian.org/DebianMentorsFaq#How_do_I_make_my_first_package.3F
https://www.debian.org/devel/wnpp/

[2017-04-30 19:39] eskhool opened #30 "Seems to be a fish shell issue"
Expected a string, but instead found a redirection
fish: done <<< "$ET_SERVER_COMMANDS"

Setup: using ssh with a shared key from a Mac OS X Sierra installed using brew to Ubuntu server 16.04 via your ppa

Please let me know you are not able to replicate this by simply using the fish shell and I will attach the logs

[2017-05-01 07:51] eskhool commented on #30
#25 addresses this. I guess the fix hasn't been released to the PPA/brew yet? Can we leave this open till it is released so that others may not open duplicate threads

[2017-05-01 15:13] MisterTea commented on #30
Yep, makes sense. I plan on releasing 3.0 this week then we can close this.

[2017-05-02 03:05] MisterTea commented on #29
Reopening so I can make a 14.04 build.  Going to spin up a 14.04 VM for this.

[2017-05-02 03:39] MisterTea commented on #30
3.0 is out on Ubuntu & OS/X.  Please confirm that 3.0 works for you and then close, thanks!

[2017-05-02 03:46] MisterTea commented on #24
@eskhool Thanks!  I started the process of getting a debian package: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=861635

[2017-05-02 03:47] MisterTea commented on #23
I'm going to close this since it's speculation whether TCP is actually a problem for anyone.  Feel free to make another issue if it turns out we need UDP.

[2017-05-02 03:47] #23 closed

[2017-05-02 03:48] MisterTea commented on #20
As of 3e9686908d64f2c9b5d9eccaefa326cc87a5598d the ET server is now a daemon (similar to sshd) and supports multiples users & connections.

[2017-05-02 03:48] #20 closed

[2017-05-02 05:01] MisterTea commented on #29
So I can't upload a PPA since ubuntu 14 doesn't have libsodium, but you can build your own using these steps:

[code]

[2017-05-02 05:01] #29 closed

[2017-05-04 18:37] #30 closed

[2017-05-08 02:56] eskhool commented on #30
Just FYI, the issue is resolved. Thanks!

[2017-05-08 09:12] eskhool opened #31 "et not using ~/.ssh/config file"
It appears that et is not using the config file at least for the hostname to username mapping that is present in the config file, possibly for other settings also (since why would only this setting be omitted)

[2017-05-09 03:53] eskhool opened #32 "Server Dynamic DNS Support"
If the IP address of the server changes since the last time we connected, the new IP does not seem to get picked up.
This is especially so if I move between wireless networks where the same host may be available via different IP addresses.

What is the expected behavior of ET and can we handle the above? Thanks for looking into this

[2017-05-09 04:05] MisterTea commented on #32
Oh interesting. I'm probably caching the IP address so I don't have to
resolve the DNS multiple times. I'll take a look at it this week.

On Mon, May 8, 2017, 8:53 PM Anshuman Aggarwal <notifications@github.com>
wrote:

[2017-05-09 04:31] eskhool commented on #31
Hey @MisterTea, any ideas on this one? I have to keep specifying the user name on the destination server even though we have already provided it in the ssh config. Thanks again

[2017-05-09 04:45] MisterTea commented on #31
Et only uses the ssh config for the initial ssh handshaking, but not for
the et connection. Someone would have to write code inside et to read the
ssh config. This isn't a high priority, so for now just make a bash script
that connects and use the bash script to save the typing.

On Mon, May 8, 2017, 9:31 PM Anshuman Aggarwal <notifications@github.com>
wrote:

[2017-05-09 09:48] eskhool commented on #31
Just for my understanding, ET uses ssh for the initial ssh handshake (must be because my keyless authentication works...I assume even the username is being picked up by ssh from its own config).

After that initial connection if the ssh key is not required then the username should also not be?

[2017-05-09 15:12] MisterTea commented on #31
Oh, that's a great point. With the new client/server architecture the
username shouldn't be needed.  I'll take a look at this tomorrow.

On Tue, May 9, 2017, 2:48 AM Anshuman Aggarwal <notifications@github.com>
wrote:

[2017-05-10 17:18] Daniel15 commented on #24
You could also host your own repo, similar to a PPA on Ubuntu. This is what we do for [Yarn](https://yarnpkg.com/) - we're using `dpkg-deb` to build the .deb file (although [fpm](https://github.com/jordansissel/fpm) is good too) and [aptly](https://www.aptly.info/) to build the repo.

[2017-05-11 03:35] MisterTea commented on #24
Oh, nice!  I already have a deb file since that's how we make the PPA. I'll
look into aptly.

On Wed, May 10, 2017, 10:18 AM Daniel Lo Nigro <notifications@github.com>
wrote:

[2017-05-11 04:05] Daniel15 commented on #24
Reprepro is a bit easier to get started with, but an issue I had with it was that it only supports one version per package. Aptly lets the repo contain multiple versions of the same package, which is useful if a user wants to go back to an older version.

[2017-05-11 04:07] Daniel15 commented on #24
Reprepro is a bit easier to get started with, but an issue I had with it was that it only supports one version per package. Aptly lets the repo contain multiple versions of the same package, which is useful if a user wants to go back to an older version. For Yarn, we started with Reprepro, but migrated over to Aptly later on.

[2017-05-13 01:55] MisterTea commented on #32
I checked and I'm not doing any caching: every second I try to resolve the DNS from scratch.  There must be some caching at the OS level.

[2017-05-13 04:26] jgoguen opened #33 "tmux control center support in VTE"
I have EternalTCP 3.0.2 installed on a CentOS server of mine and on my Arch laptop, using the source archive from the Github release page. After establishing a connection, I can successfully run `tmux attach`, but with the normal tmux restrictions and no scrollback. But if I run `tmux -CC attach`, I get nothing at all and the terminal hangs until I press Enter. Running `tmux -C attach` gives only

[2017-05-13 18:54] MisterTea commented on #32
https://github.com/MisterTea/EternalTCP/commit/59960adacbc70211c0373ff8db8e567abae78959 should fix the issue.  Please build a new client from latest master and see if the issue is resolved, thanks.

[2017-05-13 23:55] MisterTea commented on #24
Is there something like launchpad that provides hosting for the packages?
The aptly tutorial has them hosting on S3 but I don't want to tie it to my
Amazon account if I can help it.

On Wed, May 10, 2017, 9:07 PM Daniel Lo Nigro <notifications@github.com>
wrote:

[2017-05-13 23:56] Daniel15 commented on #24
You can use GitHub Pages if you don't mind committing build artifacts to a repository. They're just static files. We do this for Yarn in a separate repo: https://github.com/yarnpkg/releases

[2017-05-13 23:57] Daniel15 commented on #24
Otherwise, any web hosting service that lets you upload files will do. If you've got a server somewhere, you could throw the files into a web-accessible directory :)

[2017-05-14 14:06] eskhool commented on #32
Hi, it appears that I had an aggressive local dns caching going on. It works right now without using the master. I believe we can close the issue. Whether we keep your changes or not, I am not qualified to say.

[2017-05-14 14:06] #32 closed

[2017-05-18 14:21] nresare opened #34 "failure to connect"
Recently et began failing to connect. After authenticating over ssh I started getting the error
`Could not make initial connection to nresare.sb.facebook.com: Could not connect to host` when invoking `et -v nresare.sb.facebook.com:8080`.

What I have done to attempt to resolve the situation:

* Ran 'brew upgrade et'. This compiled and installed version 3.0.0
* Verified that a recent version of ete

[2017-05-18 14:24] MisterTea commented on #34
Can you verify that the server is running?  What happens when you do this
on the server:

systemctl status et

On Thu, May 18, 2017, 7:21 AM Noa Resare <notifications@github.com> wrote:

[2017-05-18 15:46] nresare commented on #34
systemctl status et revealed that the server component was indeed dead "Active: inactive (dead)" and after having run `systemctl start et` as root I can now connect with et again.

Thanks for the friendly hint.

[2017-05-18 15:46] #34 closed

[2017-05-22 12:20] eskhool commented on #31
@MisterTea, any luck with this change? Its not that hard to type the username but painful. Also FYI, the etserver hangs fairly often and then has to be manually killed before connecting again? Can help debug this if you need any traces.

[2017-05-22 17:11] MisterTea commented on #31
@eskhool Make sure you are on 3.0.4.  I have made a bunch of fixes to prevent the hanging you describe.

The past couple of weeks I was making a bunch of stability improvements, but I'll take a look this week.

[2017-05-23 09:06] eskhool commented on #31
I am on the latest version released to homebrew and the PPA which appears to be 3.0.0 Is 3.0.5 to be installed from github direct?

[2017-05-23 19:00] MisterTea commented on #31
@eskhool homebrew is on 3.0.0 so I need to update that, but most people are only using osx as a client so I haven't made it a priority.

You definitely want the server to be running 3.0.5, so the PPA is on 3.0.5

[2017-06-05 21:41] jaens commented on #33
EternalTCP is just a persistent TCP forwarder and not concerned with protocol-level details, I think you want to open an issue in the repository of whatever terminal emulator you are using :)

[2017-06-07 20:22] jasonehines opened #35 "Won't connect"
I've installed it on an Ubuntu 17.04 server and Solus 2017.04.18.0
by compiling. On the server I opened port 2022 and restarted the firewall.  I ran `sudo etserver` and the server says `waiting for connection`. When I run `et -v www.myserver.com` I'm returned to the prompt after about 7 seconds. The server returns `Credentials from SO_PEERCRED: pid=10999, euid=1001, egid=1001` and then goes back t

[2017-06-07 20:44] jasonehines commented on #35
I deleted the binaries on both systems and then compiled 3.0.5 and 3.0.4 on both system and the results are the same.

[2017-06-07 22:09] MisterTea commented on #35
Yep, this is because you built glog without gflags support.  Please use the glog that came with ubuntu or build glog with gflags support.

[2017-06-07 22:21] jasonehines commented on #35
I didn't build glog.

[2017-06-08 00:03] MisterTea commented on #35
What OS?  Ubuntu and osx definitely build glog with gflags support

[2017-06-08 00:41] jasonehines commented on #35
I'm running Solus. One of the devs just rebuilt the package and I tested and it works now.

[2017-06-08 03:24] #35 closed

[2017-06-08 14:13] jasonehines opened #36 "usage"
How do you disconnect from the session without killing it?

[2017-06-08 16:07] MisterTea commented on #36
I'm not sure I understand the question. If you lose Internet, the ET
session stays alive until you regain a connection. Are you asking if
there's a way to kill ET and then restart it where it left off?  What's the
use case for that?

On Thu, Jun 8, 2017, 7:13 AM Jason Hines <notifications@github.com> wrote:

[2017-06-08 18:05] jasonehines commented on #36
Say for example I need to shutdown my computer or my battery runs out. If I close the terminal window, and run et again, I get a new pty.

How can I reconnect to that same session?

[2017-06-08 18:50] jasonehines commented on #36
Actually I'm not sure it's working at all. I connected to my server, ran a count script, disconnected my wifi, reconnected and it never resumes.

Here are the logs:
[etclientLogs.tar.gz](https://github.com/MisterTea/EternalTCP/files/1062050/etclientLogs.tar.gz)
[etserverLogs.tar.gz](https://github.com/MisterTea/EternalTCP/files/1062049/etserverLogs.tar.gz)

FYI, there's two typo's in the new issue

[2017-06-10 00:14] MisterTea commented on #36
Thanks @jasonehines , can you edit the issue template and make the changes? https://github.com/MisterTea/EternalTCP/blob/master/.github/ISSUE_TEMPLATE.md

Also, what OS is the client and server?

[2017-06-11 00:04] jasonehines commented on #36
The server is Ubuntu 17.04. The client is [Solus](https://solus-project.com/) 2017.04.18.0

[2017-06-12 17:37] Yostage opened #38 "Add support for chaining the ssh command"
I can automatically reconnect to tmux with one command by using:
`ssh <host> -t -- tmux -uCC new -s <session name> -AD`

If we had some kind of comparable -t command to et, we could use the same alias for et.

[2017-06-13 19:54] MisterTea opened #39 "Add option to enable disconnect notifications"
ET used to notify people on disconnect but this was disabled since it caused issues with "tmux -CC".  This issue is to add that back as an option for people who do not use tmux control mode

[2017-06-13 19:56] andreimarcu opened #40 "Implement local echo (a la mosh)"
Not sure how doable this is, but it would reduce the feature gap with mosh quite a lot!

[2017-06-15 21:21] MisterTea commented on #36
Hmm, it's definitely a client error.  The relevant line in the log is this:

[code]

This repeats and never ends meaning the client can't resolve the DNS entry after a disconnect.  Strange.  Maybe adding a delay will help.  Please try this branch on your client and see if it fixes the problem: https://github.com/MisterTea/EternalTCP/tree/issue_36

[2017-06-15 21:23] MisterTea commented on #33
I'm going to try to work with Hyper.js to make a replacement for tmux control mode that works on all platforms.  It sounds harder than it is:  Just implementing the control mode part of tmux would be pretty easy if I had support of a terminal emulator dev.

https://github.com/zeit/hyper/issues/1912

[2017-06-15 21:25] MisterTea commented on #38
I'm not sure entirely what -t does, but I am going to implement the equivalent to -c.  So you will be able to do:
[code]

[2017-06-15 23:18] MisterTea commented on #40
I could do some naive thing such as drawing a letter when someone inputs it, then backing up when the next byte comes in.  The issue is that I don't know how portable this is.  Because mosh is itself a terminal emulator, it knows exactly what/where it drew in a predictive way so it can revert it correctly every time.  If we had deep integration with a terminal emulator such as hyper.js or iTerm, t

[2017-06-16 17:14] #38 closed

[2017-06-16 17:15] MisterTea commented on #38
If you build latest master on your client pc, you should be able to use this:
et -c "echo hi; echo hi" <host>

[2017-06-16 21:18] MisterTea commented on #40
I tried to implement this but it's a total nightmare without having control of the terminal emulator.  This would be a good feature to add to hyper.js or some terminal emulator, but it doesn't belong at this layer.

[2017-06-16 21:18] #40 closed

[2017-06-16 21:35] MisterTea commented on #39
I tried to revive https://github.com/MisterTea/EternalTCP/commit/118210cbe00dd4e2f860b6ca8a22ea7a3dac6043 but it doesn't work well in many cases.  Basically, this is very hard to do without a deep integration with a terminal emulator.  I could pass some escape sequence letting the terminal emulator know that there is a disconnect, but they would have to render something and handle removing it afte

[2017-06-17 00:53] MisterTea commented on #39
Actually maybe I can change the title of the window.  Let me look into that

[2017-06-19 08:44] eskhool commented on #31
@MisterTea, I think this thread got hijacked (by me for the hanging issue). Did you get a change to look at the username being optional issue? Thx

[2017-06-19 08:48] eskhool opened #41 "Add support for agent forwarding"
Passing -s "-A" to et does not forward ssh agent credentials which work otherwise. I was assuming ssh agent forwarding would work seamlessly with et?

Am I doing something wrong here?

If not, surprised this hasn't come up yet since I got here from mosh recommended by someone for exactly this purpose.

[2017-06-19 16:59] MisterTea commented on #39
Actually it's non-trivial to change the window title.  I tried setting PROMPT_COMMAND but that doesn't seem to be portable :-/

[2017-06-19 17:01] MisterTea commented on #31
Hey @eskhool , actually when I thought about it: it doesn't save anything by removing the username option.  You still need to pass the username to the launcher, which just passes it on to etclient.  I could remove that second step but it will have no impact on the end-user because the username is still needed by the launcher for the initial connection.

[2017-06-19 19:39] jasonehines commented on #36
That worked. I was able to disconnect my wifi and my session continued with I reestablished the wifi.

[2017-06-19 19:54] jasonehines commented on #36
I spoke too soon. I guess I should have disconnected longer the first time. I tried again and got this message: `/usr/local/bin/et: line 114: 25671 Segmentation fault      $CLIENT_BINARY --idpasskeyfile="$TMPFILE" $VERBOSITY --host="$HOSTNAME" --port="$PORT" --log_dir="$LOG_DIR" 2> /tmp/etclient_err
                                                       %

[2017-06-19 21:20] MisterTea commented on #36
ugh, segfault.  Can you run under gdb and get the stack trace?

run cmake with the -DCMAKE_BUILD_TYPE=Debug argument, then run the client
under gdb.  You will likely have to edit the et file to use gdb.

On Mon, Jun 19, 2017 at 12:54 PM Jason Hines <notifications@github.com>
wrote:

[2017-06-19 21:29] MisterTea commented on #36
Another thing that is easier is to run in verbose mode by passing the -v flag to et.  I may be able to figure out the crash from the verbose logs.

[2017-06-19 21:46] jasonehines commented on #36
I've never used gdb, I'll try and figure it out. I was running `et -v` that's all that showed in the log.

[2017-06-19 22:01] jasonehines commented on #36
I redid the build with the debug option but when I run `gdb et` it says `"/usr/local/bin/et": not in executable format: File format not recognized`. I'm not sure what you meant above about editing the et file.

[2017-06-20 06:51] eskhool commented on #31
Actually I looked at the launcher and it seems to be using the username ($USER or $ETUSER) only to pass it to ssh to make the initial connection. Now a regular ssh client will parse its own ssh_config and get the username from there so it doesn't really need the username. Did I miss something

[2017-06-20 07:01] eskhool commented on #31
Hey @MisterTea, I was able to get it working by just modifying the launcher. It looks like no more work needs to be done (atleast in the server or client code). It seems that if you just remove the user logic from et launcher and let the ssh client handle the picking of the username the connection works just fine.
PS: I haven't tried the multi user connection but don't see why that won't work base

[2017-06-20 23:57] MisterTea commented on #36
the et file is just a bash script.  You will have to edit that bash script
and change this line:

CLIENT_BINARY="etclient"

to this:

CLIENT_BINARY="gdb --args etclient"

On Mon, Jun 19, 2017 at 3:01 PM Jason Hines <notifications@github.com>
wrote:

[2017-06-21 18:37] jasonehines commented on #36
I have no idea if I'm doing this correctly but here's the output:
[gdb-et-output.txt](https://github.com/MisterTea/EternalTCP/files/1092537/gdb-et-output.txt)

[2017-06-21 18:41] MisterTea commented on #36
Hey, this was right, but when it crashed, you needed to type "bt" at the
prompt to get the backtrace.  Please do that and send me the backtrace so I
can debug, thanks.

On Wed, Jun 21, 2017 at 11:37 AM Jason Hines <notifications@github.com>
wrote:

[2017-06-21 18:43] jasonehines commented on #36
glad I left it open. Here it is with the backtrace:
[gdb-et-output.txt](https://github.com/MisterTea/EternalTCP/files/1092548/gdb-et-output.txt)

[2017-06-21 18:46] MisterTea commented on #31
Makes sense.  You should be able to modify the script so if the user
doesn't specify a username, then none is passed to ssh.  But if the user
does specify a username, then ssh will use the one specified.

Thanks for investigating!  Can you submit a pull request with the fix?

On Tue, Jun 20, 2017 at 12:01 AM Anshuman Aggarwal <notifications@github.com>
wrote:

[2017-06-21 21:16] MisterTea commented on #36
Alright, I fixed that problem in the latest commit.  Please update your branch and try again.

[2017-06-21 21:33] jasonehines commented on #36
It didn't crash this time. But it never reconnected. This is what the log is saying `UnixSocketHandler.cpp:96] Error getting address info for drive.hinesnetwork.com:2022: -3 (Temporary failure in name resolution)
`

[2017-06-21 21:49] MisterTea commented on #36
Oh I found this that may be related: https://sourceware.org/bugzilla/show_bug.cgi?id=12224

[2017-06-21 21:58] MisterTea commented on #36
Alright I added a call to res_init() before calling getaddrinfo.  Please update your branch and try again

[2017-06-21 22:03] jasonehines commented on #36
it works!

[2017-06-21 22:03] MisterTea commented on #36
Great!  Thanks for your patience

[2017-06-21 22:05] #36 closed

[2017-06-23 22:10] MisterTea commented on #41
I think you need to do:
[code]

You are missing the hostname/port part

[2017-06-24 16:21] GasCreature opened #42 "Does not work for Ubuntu 16.04.2"
Installed on Mac and on Ubuntu 16.04.2 and could not connect from Mac to Ubuntu. I got hung terminals which I closed.

If on Ubuntu, could connect to the same machine at localhost but it was very slow.

[2017-06-25 03:19] MisterTea commented on #42
Please attach the logs as instructed by the issue template, thanks.

[2017-06-25 05:42] gramster opened #43 "Segfaults on connect from Mac to Ubuntu"
Just freshly installed on my Macbook (client) and Ubuntu (server), and this is what I see when I try connect:

    $ et gram@192.168.2.10
    gram@192.168.2.10's password:
    /usr/local/bin/et: line 120: 70546 Segmentation fault: 11  $CLIENT_BINARY --
    idpasskeyfile="$TMPFILE" $VERBOSITY --host="$HOSTNAME" --port="$PORT" --
    log_dir="$LOG_DIR" --command="$INITIAL_COMMAND" 2> /tmp/etclient_e

[2017-06-25 16:29] GasCreature commented on #42
The original logs showed a mess of timeouts and port not availables. After I uninstalled and reinstalled both sides, thing worked now.

[2017-06-25 16:29] #42 closed

[2017-06-25 18:17] yixizhang commented on #43
Same here.

[2017-06-25 19:22] MisterTea commented on #43
It may be the double-free issue. Can you get me a stack trace? You'll have
to edit the et launcher to run etclient in lldb / gdb.
On Sun, Jun 25, 2017 at 11:17 AM Yixi Zhang <notifications@github.com>
wrote:

[2017-06-25 23:01] MisterTea commented on #43
change this line:

CLIENT_BINARY="etclient"

to this:

CLIENT_BINARY="lldb -- etclient"

then rerun with lldb and when it crashes, type "bt" to give me the stack trace

[2017-06-26 00:26] gramster commented on #43
(lldb) r
    Process 2007 launched: '/usr/local/bin/etclient' (x86_64)
    Process 2007 stopped
    * thread #1, queue = 'com.apple.main-thread', stop reason = EXC_BAD_ACCESS (code=1, address=0x0)
        frame #0: 0x00007fffc8fdcb52 libsystem_c.dylib`strlen + 18
    libsystem_c.dylib`strlen:
    ->  0x7fffc8fdcb52 <+18>: pcmpeqb (%rdi), %xmm0
        0x7fffc8fdcb56 <+22>: pmovmskb %xmm0, %esi

[2017-06-26 02:09] MisterTea commented on #43
Are you running the latest homebrew version?  Those addresses don't line up for me:

[code]

[2017-06-26 02:20] MisterTea commented on #43
Either way I think I found the problem.  Going to patch now.

[2017-06-26 02:22] MisterTea commented on #43
@gramster  Please build the latest master and verify that the problem is fixed, thanks!

[2017-06-26 02:23] MisterTea commented on #43
BTW: This is a client only bug so you don't have to change the server binary

[2017-06-26 03:21] yixizhang commented on #43
built master on OSX, no more above error but can't connect to host.

[code]

[2017-06-26 03:22] yixizhang commented on #43
Validated that ssh with same user@ip works.

[2017-06-26 05:08] eskhool commented on #41
@MisterTea, I think this is the same problem of not using the ssh config mechanism. Is there no way you can bypass having to parse the ssh argument logic and let ssh do its thing for the initial connection? I have ssh agent setup with hosts and all and I don't really need to provide any parameters. Much like the username (for which luckily I have pasted a solution in the other issue)

[2017-06-26 05:28] MisterTea commented on #24
Hey @Daniel15 , I used aptly to create a deb repo and pushed it here: https://github.com/MisterTea/debian-et

Then I added the repo to a debian vm:
[code]

But I'm getting this error when I try to update:

[code]

Any ideas?  The URL seems to return data:

[code]

[2017-06-26 05:31] Daniel15 commented on #24
@MisterTea It might be serving files using the wrong content-type, or something like that. Try enabling GitHub Pages for the repository and using that rather than `raw.githubusercontent.com`. The URL will probably be something like `https://mistertea.github.io/debian-et/debian-source/`.

[2017-06-26 05:34] eskhool commented on #31
#44

[2017-06-26 15:38] MisterTea commented on #24
@Daniel15 Thank you, it worked!

[2017-06-26 15:40] MisterTea commented on #24
There are no packages though :-(.  Possibly because I only made a source package and no binary packages

[2017-06-26 17:20] MisterTea commented on #41
@eskhool SSH should be using ssh_config, but etclient/etserver won't use it.  So, whatever agent forwarding you have in ssh should work fine for the initial handshake.  After that, you are using the et passkey so you shouldn't need agent forwarding.

[2017-06-26 20:41] MisterTea commented on #43
@yixizhang Are you using ssh_config aliases?  These aren't supported yet.  If not, can you post the whole command in context?

[2017-06-26 20:46] yixizhang commented on #43
Sorry, I forgot that I used `ssh-agent` and `ssh-add` when I validated `ssh` and `et` yesterday.

The command I used for ssh is `ssh -i .ssh/google_compute_engine user@host`. I tried to use the corresponding et command, in format of `et -s "-i .ssh/google_compute_engine user@host:port"` but it complains format:

[code]

[2017-06-28 11:37] burgalon opened #45 "l"
If you have set up ET correctly and are having an issue connecting/maintaining a session, please consider running in verbose mode and adding client & server logs to your issue.

To run in verbose mode, pass the -v flag to et.

To collect logs, run the following on your client:

tar -cvzPhf /tmp/etclientLogs.tar.gz /tmp/etclient_err /tmp/etclient.INFO

Then run this on your server:

tar -cvzPhf /tm

[2017-06-29 07:34] CallumDenby commented on #43
@MisterTea I can confirm that building the latest version on Mac fixes the segmentation fault. All is working for me now.

macOS 10.12.5, `et` initially installed with brew, then `etclient` built from source and original overwritten.

[2017-06-29 16:34] mbtamuli opened #46 "Not able to install on Ubuntu zesty(17.04)"
I am running Ubuntu 17.04

When I try to install, I get this error.

[code]
It seems `libprotobuf9v5` is only available for Ubuntu Xenial (16.04).

[2017-06-30 00:17] MisterTea commented on #45
Hey!  Please fill this in or I'll close and you can start another.

[2017-06-30 00:24] MisterTea commented on #43
Fixed in https://github.com/MisterTea/EternalTCP/releases/tag/et-v3.1.0

[2017-06-30 00:24] #43 closed

[2017-06-30 03:20] thirdreplicator opened #47 "Cannot open your terminal '/dev/pts/3' - please check."
If you have set up ET correctly and are having an issue connecting/maintaining a session, please consider running in verbose mode and adding client & server logs to your issue.

To run in verbose mode, pass the -v flag to et.

To collect logs, run the following on your client:

tar -cvzPhf /tmp/etclientLogs.tar.gz /tmp/etclient_err /tmp/etclient.INFO

Then run this on your server:

tar -cvzPhf /tm

[2017-06-30 03:22] thirdreplicator commented on #47
I usually use UNIX screen, but after logging into the server and invoking:

  screen -xR

The screen session doesn't start, and I get the following error:

  Cannot open your terminal '/dev/pts/3' - please check.

[2017-06-30 07:33] #45 closed

[2017-06-30 23:10] MisterTea commented on #46
https://launchpad.net/~jgmath2000/+archive/ubuntu/et/+packages

Fixed.  run an apt update and then apt install should work.

[2017-06-30 23:17] MisterTea commented on #47
What OS?  What version of ET?

[2017-06-30 23:39] MisterTea commented on #33
Closing since this requires a terminal emulator that is interested.

[2017-06-30 23:39] #33 closed

[2017-07-01 11:18] mbtamuli commented on #46
@MisterTea I tried running, apt update and then apt install. It didn't work. I did an apt clean all too, still didn't work.

[2017-07-01 13:59] thirdreplicator commented on #47
Mac OS Sierra

I just did:

brew install MisterTea/et/et

then logged into Ubuntu 16.04

I'm not at the computer now, but I'll give you the exact versions later.
Hopefully, what I've given above is helpful.

On Fri, Jun 30, 2017 at 4:17 PM, Jason Gauci <notifications@github.com>
wrote:

[2017-07-02 05:02] seoh commented on #46
I got same issue on ubuntu gnome 17. `apt update` and I got "et/zesty 3.1.0-zesty1" but `libprotobuf9v5 but it is not installable` while installation.

[2017-07-03 04:46] mbtamuli opened #48 "Improve documentation for using custom ssh commands."
My server listens on port `2222` instead of the standard `22`.
[code]
I opened the `2022` port for et. Still I am not able to connect. (I already have open `2222`)
[code]

I can confirm it's working perfectly fine for my other server which is listening on the standard SSH port `22`

[2017-07-03 04:51] MisterTea commented on #48
Et and ssh run on different ports. To change the ssh port, you need to pass
a flag to ssh itself using the -s command.

On Sun, Jul 2, 2017, 9:46 PM Mriyam Tamuli <notifications@github.com> wrote:

[2017-07-03 08:09] mbtamuli commented on #48
Can you please describe how to do that? It doesn't seem to be documented. I tried reading the launcher to figure it out, but from what I could see, the `et` bash launcher sends the port specified at the end of the whole command to the. The `:2222` at the end(As per line [#79](https://github.com/MisterTea/EternalTCP/blob/master/launcher/et#L79)). I may be wrong.

I've tried the following commands.

[2017-07-03 20:17] choman commented on #46
+1 on issue

[2017-07-03 21:29] MisterTea commented on #46
Sorry about that.  I took a different approach and got it working using an ubuntu 17 VM.  It should be fixed now.

[code]

[2017-07-03 21:29] #46 closed

[2017-07-03 21:34] MisterTea commented on #48
You circumnavigated the right answer, but here's how to do it.  This works for me (I run ET on port 8080):

[code]

What would make this easier?  Maybe I should have people also put the 'ssh' in the beginning and provide an example in the help?

Would you be willing to edit this file and add some relevant documentation in a pull request once you get it working?  https://github.com/MisterTea/Eterna

[2017-07-04 02:41] mbtamuli commented on #48
I was thinking about adding example in the [Usage Section](https://mistertea.github.io/EternalTCP/usermanual/#using)

[2017-07-04 02:59] MisterTea commented on #48
That's a good idea.  Here's what you need to edit to change the usage section: https://github.com/MisterTea/EternalTCP/blob/gh-pages/usermanual.md

I think an example in the launcher help would be good as well.  Thanks a lot!

[2017-07-04 04:20] MisterTea commented on #47
does it work fine with ssh?

[2017-07-05 20:52] thirdreplicator commented on #47
Sorry, I'm not sure what you mean by "does it work fine with ssh?".  Here
is what I do normally:

### Without "et":

Last login: Tue Jul  4 22:59:43 UTC 2017 from 67.164.84.183 on pts/0
Welcome to Ubuntu 16.04.2 LTS (GNU/Linux 4.9.15-x86_64-linode81 x86_64)

 * Documentation:  https://help.ubuntu.com
 * Management:     https://landscape.canonical.com
 * Support:        https://ubuntu.com/advantage

[2017-07-05 20:54] thirdreplicator commented on #47
Here is my version of et:

brew info MisterTea/et/et
mistertea/et/et: stable 3.1.0
Remote terminal with IP roaming
https://mistertea.github.io/EternalTCP/
/usr/local/Cellar/et/3.1.0 (9 files, 601.0KB) *
  Built from source on 2017-06-29 at 20:12:53
From: https://github.com/MisterTea/homebrew-et/blob/master/et.rb
==> Dependencies
Build: cmake ✔
Required: protobuf ✔, libsodium ✔, glog ✔, gflags ✔, b

[2017-07-05 20:55] thirdreplicator commented on #47
Here is my version of et:

brew info MisterTea/et/et
mistertea/et/et: stable 3.1.0
Remote terminal with IP roaming
https://mistertea.github.io/EternalTCP/
/usr/local/Cellar/et/3.1.0 (9 files, 601.0KB) *
  Built from source on 2017-06-29 at 20:12:53
From: https://github.com/MisterTea/homebrew-et/blob/master/et.rb
==> Dependencies
Build: cmake ✔
Required: protobuf ✔, libsodium ✔, glog ✔, gflags ✔, b

[2017-07-05 21:24] MisterTea commented on #47
What version of ET on the server?

Can you tell me the output of:

systemctl status et

[2017-07-05 21:43] MisterTea commented on #47
Also it may be that screens you create in ssh can't be resumed in et and vice versa

[2017-07-05 22:00] thirdreplicator commented on #47
systemctl status et
● et.service - Eternal Terminal
   Loaded: loaded (/lib/systemd/system/et.service; enabled; vendor preset:
enabled)
   Active: active (running) since Fri 2017-06-30 03:16:03 UTC; 5 days ago
  Process: 32612 ExecStart=/usr/bin/etserver --daemon --cfgfile=/etc/et.cfg
(code=ex
 Main PID: 32613 (etserver)
   CGroup: /system.slice/et.service
           ├─17427 /bin/bash --login

[2017-07-05 22:05] thirdreplicator commented on #47
I terminated my existing session, exited back to Mac OS X, then initiated

et me@myserver.com

Then when back on Ubuntu (server), I tried to start up a new screen session.

$ screen -xR

Cannot open your terminal '/dev/pts/2' - please check.

Same error, but now it's saying /dev/pts/2 ... not sure why the number
changed.  (Maybe it's because I'm on a VPS at Linode? )

On Wed, Jul 5, 2017 at 2:43 P

[2017-07-06 00:17] MisterTea commented on #47
What version of et are you running on the server?

apt-cache policy et

^ That should tell us.

[2017-07-06 00:17] MisterTea commented on #47
Also what happens if you just run "screen" by itself?  I don't know what -xR are doing?

[2017-07-06 02:39] thirdreplicator commented on #47
On the server:

$ apt-cache policy et

et:

  Installed: 3.0.5-1ubuntu1

  Candidate: 3.1.0-xenial2

  Version table:

     3.1.0-xenial2 500

        500 http://ppa.launchpad.net/jgmath2000/et/ubuntu xenial/main amd64
Packages

 *** 3.0.5-1ubuntu1 100

        100 /var/lib/dpkg/status

On Wed, Jul 5, 2017 at 5:17 PM, Jason Gauci <notifications@github.com>
wrote:

[2017-07-06 02:39] thirdreplicator commented on #47
Also on the server:

$ screen

Cannot open your terminal '/dev/pts/2' - please check.

On Wed, Jul 5, 2017 at 7:39 PM, David B <thirdreplicator@gmail.com> wrote:

[2017-07-06 02:42] thirdreplicator commented on #47
When I type just "screen" on the server, I get the same error.  "Cannot
open your terminal '/dev/pts/2' - please check.

On Wed, Jul 5, 2017 at 7:39 PM, David B <thirdreplicator@gmail.com> wrote:

[2017-07-06 02:42] mbtamuli commented on #48
@MisterTea If you want the examples to be worded differently, do tell.

[2017-07-06 03:53] MisterTea commented on #47
Gotcha.  I can replicate the issue on my machine.  I'll debug, but in the meantime you should switch to tmux which is way better :-)

[2017-07-06 04:11] thirdreplicator commented on #47
How do I switch to tmux?  What is tmux, sorry for the newbie question.

On Wed, Jul 5, 2017 at 8:53 PM, Jason Gauci <notifications@github.com>
wrote:

[2017-07-06 04:51] #47 closed

[2017-07-06 04:52] MisterTea commented on #47
tmux is similar to screen but more modern.  If you update the server to latest master, the issue is fixed.  The fix will go out in the next version.

[2017-07-06 06:06] thirdreplicator commented on #47
Awesome.  Thanks.  Looking forward to using it.

Tc.

On Wed, Jul 5, 2017 at 9:52 PM, Jason Gauci <notifications@github.com>
wrote:

[2017-07-06 17:25] MisterTea commented on #48
Thanks!!!

[2017-07-06 17:25] #48 closed

[2017-07-06 18:27] MisterTea commented on #31
So do we still need to read from the ssh config file?  I feel like we do for people using hostname aliases, etc..

[2017-07-06 21:13] MisterTea commented on #47
Fixed in version 3.3.1, apt update + apt upgrade to get the fix.

[2017-07-07 04:16] krayon commented on #39
Perhaps you could do it for users of tmux at least, by manipulating the status bar(s)? In the event control mode allows for setting stuff like that, you could probably flash a colour or similar? Seems there's a fair bit of customisation available:
    https://leanpub.com/the-tao-of-tmux/read#status-bar

[2017-07-07 05:51] eskhool commented on #31
Ideally we should let ssh do its own reading from the config file and pass any parameters sent to et onwards verbatim.

We should parse the et command line parameters only for the ones et supports and pass the rest as is

[2017-07-07 05:57] eskhool commented on #31
For my purposes this bug is closed for the moment

[2017-07-07 05:57] #31 closed

[2017-07-11 07:31] jgallias commented on #24
Please make binary packages!
I'd love to be able to get updates via apt on my Debian systems!

[2017-07-11 19:46] MisterTea commented on #24
@jgallias Alright I think I have something working, can you verify?

The following commands should install et on debian:

[code]

[2017-07-12 03:42] jgallias commented on #24
FYI, I just upgraded to Debian 9 Stretch

I ran:
`apt install libboost-dev libsodium-dev libncurses5-dev libprotobuf-dev protobuf-compiler cmake libgoogle-glog-dev libgflags-dev unzip wget`

then your code and got:
[code]

I'm noticing using apt search for each package without the number on the end, and I have a newer version of each installed:
[code]

Thanks.

[2017-07-12 05:41] MisterTea commented on #24
@jgallias  ok I created debs for stretch as well.  Edit your /etc/apt/sources.list and remove the last line, then try this:

[code]

[2017-07-14 23:48] tfg13 opened #51 "Missing XDG_RUNTIME_DIR"
(as discussed)

[code]
but

[code]

This var should have been set by (I think) `logind` and fundamental things like `systemctl --user` depend on it.

[2017-07-18 23:00] MisterTea commented on #51
Got it.  It turns out PAM is not being initialized correctly.  I should have a fix within the week.

[2017-07-20 17:02] MisterTea commented on #51
Ugh, actually PAM is a huge pain.  Getting some error about account already being in a session, and PAM requires some interactivity.  Going to have to look into other ways to handle this

[2017-07-21 07:23] MisterTea opened #52 "Add version # to --version flag and environment var"

[2017-07-21 07:27] #24 closed

[2017-07-21 08:56] MisterTea opened #53 "add entry in utmp"

[2017-07-21 21:25] MisterTea commented on #51
This should be fixed in latest master.

[2017-07-21 21:26] MisterTea commented on #41
Hey @eskhool is this still an issue?

[2017-07-22 23:08] liammac opened #54 "Can't connect to etserver built on CentOS 7 from OS X"
I believe I have everything setup correctly I can connect to an etserver instance installed on an Ubuntu server via the ppa from a client installed from brew on OS X but I can't connect to an etserver instance built on CentOS 7

[code]

server

[code]

client

[code]

logs

[code]

server log

[code]

[2017-07-23 15:11] MisterTea commented on #54
The master branch is on ET 4 but the ppa/brew is on ET3 since we are still
testing. So you either need to build the client from source or checkout the
version 3 release and build that on centos.

On Sat, Jul 22, 2017, 4:08 PM Liam <notifications@github.com> wrote:

[2017-07-23 17:59] liammac commented on #54
I actually noticed that right out of the gate, so I tried building 3.1.1 and 3.1.0 and saw the exact same issue with both. The logs below are actually from the build of 3.1.1

[2017-07-23 19:54] MisterTea commented on #54
Can you try going the other direction and use latest master on both client
and server? Latest master is a massive rewrite so we should fix any issue
in there.

On Sun, Jul 23, 2017, 10:59 AM Liam <notifications@github.com> wrote:

[2017-07-24 23:00] BurntBrunch opened #55 "Disconnecting form tmux drops into tty"
Eternal Terminal does not correctly scope remote execution. In particular, compare between the following two behaviors:

1) `mosh myhost tmux attach`
2) Ctrl+B, d (detach from tmux)
3) Mosh exits and the connection is closed - `[mosh is exiting.]` message also displayed.
4) Control is returned to the machine's shell.

1) `et -c="tmux attach" myhost`
2) Ctrl+B, d (detach from tmux)
3) tmux detaches

[2017-07-25 16:59] #55 closed

[2017-07-25 23:07] daniel-centore opened #56 "fish shell prompt invisible"
The shell prompt for fish is invisible in the new version
![screen shot 2017-07-25 at 4 09 52 pm](https://user-images.githubusercontent.com/569864/28597618-bdf2bb36-7153-11e7-916b-988459d8fb36.png)

How it should look:
![screen shot 2017-07-25 at 4 09 59 pm](https://user-images.githubusercontent.com/569864/28597622-c2f78dc8-7153-11e7-8fd1-cf6dc72e3425.png)

[2017-07-26 04:02] MisterTea commented on #56
Fixed in e098c2a189f3dd98f0d66f806d1bdab28f02283d

[2017-07-26 04:02] #56 closed

[2017-07-28 08:42] tomaso opened #57 "Add verbosity level in /etc/et.cfg for debugging purposes"
More verbose debug messages on request in /etc/et.cfg would be very useful for debugging issues with connection.

[2017-07-31 23:44] MisterTea commented on #54
@liammac any update?

[2017-07-31 23:44] #53 closed

[2017-07-31 23:44] #52 closed

[2017-07-31 23:44] #51 closed

[2017-08-03 22:13] MisterTea commented on #39
@krayon This is a great idea but I don't have time at the moment.  Would this be something that you would be interested in submitting a PR for?  If you made a standalone C++ class with a connect() disconnect() API I can write the logic to call it.

[2017-08-07 18:37] #54 closed

[2017-08-10 00:39] hemberger opened #58 "SSH aliases are unknown to `et`"
First, let me say that EternalTCP solves my eternal frustrations with SSH. Thank you!

The only thing that seems to be missing is the ability to specify aliases (either by using aliases in `~/.ssh/config` or having a separate configuration file). I had hoped that the resolution to #31 would solve this issue, but it doesn't. I have tried the following.

In my `~/.ssh/config`:
[code]
NOTE: `MYUSER`

[2017-08-11 01:44] MisterTea commented on #58
The issue is that ET uses ssh for the initial handshake but then it uses it's own protocol to start the connection.  The ET client doesn't know anything about your ssh_config file.

To fix this, you would need to write an ssh config parser and keep a mapping from alias to the actual hostname in the ET client.  If you do the first, I can do the second.

Here's the ssh config spec: https://www.ssh.c

[2017-08-14 22:50] michaelsuo opened #59 "Add support for remote forwarding (reverse tunneling)"
To repro (Mac only):
1. Follow the instructions [here](https://seancoates.com/blogs/remote-pbcopy/) to set up a pbcopy daemon that listens on port 2224. That article has steps for testing the daemon to make sure it is correctly receiving requests.
2. Run EternalTerminal forwarding some port to 2224 on the local machine, e.g. `et -t="2224:9999" <remote>:8080`
3. Observe wackiness.

To confirm that

[2017-09-01 01:30] MisterTea commented on #59
The last step doesn't seem to work for me:

[code]

[2017-09-01 01:37] MisterTea commented on #59
Ok I see the problem: this requires a remote forward, which is basically a tunnel in reverse.  ET doesn't support this yet.

[2017-09-01 01:37] MisterTea commented on #59
There is a second issue where when tunneling fails, it b0rks your terminal.

[2017-09-04 09:32] Visarga opened #60 "Connection attempt fails silently (Mac -> Ubuntu 16.04)"
I installed et on Mac (OSX 10.12 Sierra) by brew, and on the server (Ubuntu 16.04) by apt-get. When I connect "et user@server" I get an immediate silent fail. Addind the "-v" flag does not give verbose messages.

On the server side, if I try running "etserver" I get this error message:

E0904 12:28:29.360836 12291 UnixSocketHandler.cpp:256] Error binding 2/1/6: 98 Address already in use
Error bind

[2017-09-18 15:39] MakeItGreatAgain opened #62 "BSD/POSIXish compatibility"
I have ported et to OpenBSD (which needed a few changes), but noticed some Linuxisms in the et launcher client script which break POSIX compatibility can easily be worked around by using standardized options (rather than GNU extensions), in particular, the launcher script uses "head -c" and "/bin/bash" on the remote, which are not UNIX standards.

This is easily fixed by replacing "/bin/bash" with

[2017-09-18 17:07] MisterTea commented on #62
Cool!  Looking forward to seeing the pull request.

[2017-09-25 14:46] teresaejunior opened #63 "Too many logs at /tmp, can't disable them"
Hello! I have noticed there are tens of */tmp/etserver** files in the server, and tens of */tmp/etclient** in the client. I tried running `et -l=/dev/null`, but it makes no difference.

Since `et` has been running mostly well, I would like to disable logs on both the server and client!

[2017-09-25 20:23] MisterTea commented on #63
Hey, FWIW you should only get one of these logs per et connection, which should happen very infrequently since the connection is supposed to last for weeks/months.

With that said, I agree that we should have a way of turning them off (a config param for etserver and a -s switch for etclient).

[2017-09-26 16:08] teresaejunior commented on #63
Yes, it's not that much of a problem, but it happens to me because I close the session whenever I finish what I was supposed to do.

[2017-10-03 06:13] MisterTea commented on #62
@MakeItGreatAgain Any update?

[2017-10-03 06:13] MisterTea commented on #58
Fixed by https://github.com/MisterTea/EternalTCP/pull/64

[2017-10-03 06:13] #58 closed

[2017-10-03 06:15] MisterTea commented on #60
Hey, can you check /tmp/et_*  logs?  On mac, they are in $TMPDIR/et_*

[2017-10-03 06:15] MisterTea commented on #60
Without any logs it will be tough to debug :-)

[2017-10-03 18:46] bkarlson commented on #59
Any prospects on getting remote tunnels? I am trying to make work `rsubl` (i.e. `rmate` for Sublime) via roaming terminal, but both mosh and ET don't deliver in this area 😭
Thanks for great project!

[2017-10-03 19:06] MisterTea commented on #59
@bkarlson We are working on implementing jump hosts now but once that is done we can take a look at reverse tunnels.

[2017-10-03 20:51] ddickstein commented on #39
Any further plans here?  This would be really helpful, especially when trying to differentiate cases of disconnection vs frozen programs at a glance.

[2017-10-04 03:14] MisterTea commented on #39
@ddickstein Care to submit a PR? :-)

I'm a tmux -CC user so this isn't high pri for me TBQH but happy to review a PR for it.

[2017-10-04 17:07] ddickstein commented on #39
What changes do you think are necessary to get it to work?  I haven't spent much time working in C++ and I don't know the codebase here.  Do you have a rough sense of how much work it is and what the steps would be?

[2017-10-07 03:07] krayon commented on #39
@MisterTea I absolutely would but unfortunately I don't have the time and I don't actually use EternalTCP myself. I was just evaluating it for someone and had that idea. I'm sorry I can't offer a PR for this :(

[2017-10-14 05:53] burgalon commented on #41
I'm still experiencing this, also with your suggestion of `-s "-A myuser@myhost:myport"
`.
Can we reopen?

[2017-10-14 05:58] MisterTea commented on #41
@burgalon Are you using the latest master code or the release?

[2017-10-14 06:05] burgalon commented on #38
i'm using `etclient version 4.0.5` on Mac, and for some reason the `-c` chaining is not working. Any ideas?
[code]

[2017-10-14 06:08] burgalon opened #66 "etserver crashing on std:bad_alloc"
ETserver 4.0.4 running on Ubuntu 16.04 and etclient 4.0.5 on OSX.

[code]

[2017-10-14 06:09] burgalon commented on #41
release 4.0.5 etclient. Help is showing `-c` should be available.

[2017-10-14 06:12] MisterTea commented on #41
what happens when you use my suggestion above?

[2017-10-14 06:12] MisterTea commented on #66
what command did you use?

[2017-10-14 06:13] burgalon commented on #41
when using your suggestion above, nothing appears different - same output as without the `-c`

[2017-10-14 06:14] burgalon commented on #66
i'm using regular connect `et username@server` and usually connected with `tmux -CC a`.
After a night it would usually crash

[2017-10-14 06:20] MisterTea commented on #66
Looks like a memory leak.  Can you get a stack trace where the exception is thrown?  Also can you watch the memory usage and see whether it's creeping up?

[2017-10-14 06:22] burgalon commented on #66
how can I make the etserver output stack trace?

[2017-10-14 06:25] #62 closed

[2017-10-14 06:25] MisterTea commented on #41
I meant my suggestion for using -s to do ssh agent forwarding

[2017-10-14 06:34] burgalon commented on #41
looking closer, it seems like `-s` is not working at all, as if it's not taking the arguments at all. doing `-s '-p 8888'` doesn't seem to kick in, and ssh is still connecting on the regular port. This is weird since I remember it was working (possibly on etclient 4.0.4?)

[2017-10-14 06:36] MisterTea commented on #41
Maybe your et install has been corrupted somehow?  Can you do a 'which et' and make sure it's using /usr/local/bin/et ?  Also try to remove the package and reinstall and then check the timestamp to make sure the et launcher is up to date.

[2017-10-14 06:41] burgalon commented on #41
I seemed to have installed versnion 3.0.6. I did `brew uninstall --force et` to remove all version and then again `brew install MisterTea/et/et` but `-s` still doesn't seem to work.
It seems like there's still something dirty in my configuration/installation, but I'm not sure how to check.

[2017-10-14 06:42] MisterTea commented on #41
What does ```et --version``` say?

[2017-10-14 06:42] burgalon commented on #41
[code]

[2017-10-17 08:06] ocavue commented on #60
My et can't work this afternoon with almost same issue.

There are so many log in tmp and I don't know which I should put on. So here is only a part of theme:

*ubunut(server)*

[code]

*mac(client)*

[code]

[2017-10-18 12:17] MisterTea commented on #60
@ocavue Has et worked for you in the past?  If so, try restarting the service on your server:
sudo systemctl restart et

[2017-10-18 12:20] MisterTea commented on #41
@burgalon -s is being removed in the next release.  Instead, put any ssh options in your ssh_config file. When et calls ssh, the options are loaded by ssh already.

[2017-10-18 12:21] MisterTea commented on #66
Is that crash happening on the client or server?

[2017-10-18 12:31] burgalon commented on #66
server

[2017-10-18 12:32] burgalon commented on #41
from what it seems, the ssh config is also not taken. My `.ssh/config` has `ForwardAgent yes` which works well with regular ssh, but doesn't with et

[2017-10-19 02:15] MisterTea commented on #41
@burgalon if you look at the et file, it's just a bash script that calls ssh.  Can you debug on your side and see why it's not using your ssh config?

[2017-10-19 02:21] MisterTea commented on #66
Can you try running the server under gdb? On the actual machine (or in a mosh server):

[code]

That will run etserver inside gdb.  Then when it crashes, you'll be able to type `bt -a` and get a backtrace

[2017-10-19 11:50] aslpavel opened #68 "et script does not support ipv6 host names"
I would expect to be able to use ipv6
[code]
But after looking at et script it looks like `ET_COMMAND_REGEX` does not permit this form

[2017-10-19 12:16] ocavue commented on #60
@MisterTea
`sudo systemctl restart et` works. Thank you very much.

[2017-10-21 02:11] MakeItGreatAgain commented on #62
Sorry - I have been busy and you update quickly :)  I will try to get you proper port in a week or two - I am still using it myself

[2017-10-25 11:59] burgalon commented on #66
it's possible that the bad_alloc, was actually caused by the OS running out of memory... I'm still trying to figure this out

[2017-10-30 18:06] MisterTea commented on #68
Hey, this should be fixed in 4.1.0.  Feel free to comment if it isn't and I'll reopen

[2017-10-30 18:06] #68 closed

[2017-10-30 18:07] MisterTea commented on #66
Closing since the issue was OOM on the machine

[2017-10-30 18:07] #66 closed

[2017-10-30 18:07] MisterTea commented on #60
@Visarga Is this still an issue?  If so, please provide logs, thanks.

[2017-10-30 19:38] burgalon commented on #41
For reference - https://github.com/mobile-shell/mosh/pull/696

[2017-11-04 20:22] DmitryKoterov opened #71 "Etclient crashes (cannot reproduce)"
This is hard to reproduce.

After some significant interval with no internet, et port forwarding process sometimes crashes:

*** Check failure stack trace: ***
    @        0x104f0f0ce  google::LogMessage::Fail()
    @        0x104f0e3ad  google::LogMessage::SendToLog()
    @        0x104f0eab3  google::LogMessage::Flush()
    @        0x104f11d03  google::LogMessageFatal::~LogMessageFatal()
    @

[2017-11-04 20:24] DmitryKoterov commented on #71
...this happens immediately after internet connection is restored back. But very hard to reproduce

[2017-11-07 19:45] ailzhang commented on #71
I can't seem to reproduce this on my side. Please share your log files next time it happens. Thanks!

[2017-11-13 20:37] DmitryKoterov opened #72 "Allow to pass options to SSH"
In the previous et versions, there was a `-s` switch to pass additional options to ssh. E.g. it allowed to pass `-o PasswordAuthentication=no` or something else. (I understand it was mostly used for jumphosts and similar stuff, but its usage was still wider than that.)

In newer versions, this switch is removed, and there is no way to pass options to the initial ssh process except putting them to

[2017-11-13 21:18] ailzhang commented on #72
Hi Dmitry,
We think using .ssh/config is a cleaner way, is there any reason that sshconfig is not working for your case?

[2017-11-14 00:17] DmitryKoterov commented on #72
Yes, the case is when et is used as a part of some other tool (e.g. to setup a tunnel and then do something else with this tunnel repeatedly - e.g. run Unison over it); this tool is self-contained (and even has an installer) and doesn't want to make changes to user's .ssh/config file.

[2017-11-17 18:53] DmitryKoterov commented on #71
Here are some more samples (same usecase - kept running, Mac slept, then woken up after ~12h):

  *** Check failure stack trace: ***
    @        0x1021fb0ce  google::LogMessage::Fail()
    @        0x1021fa3ad  google::LogMessage::SendToLog()
    @        0x1021faab3  google::LogMessage::Flush()
    @        0x1021fdd03  google::LogMessageFatal::~LogMessageFatal()
    @        0x1021fb3b7  google

[2017-11-20 04:58] DmitryKoterov commented on #71
Also one more time it threw this exception (after 1d of no connection), in /tmp/etclient_err:

E1119 20:54:00.383008 3077604288 UnixSocketHandler.cpp:45] Error reading: 54 Connection reset by peer
F1119 20:54:00.384682 3077604288 UnixSocketHandler.cpp:380] Error: (22): Invalid argument

[2017-11-26 19:14] daniel-centore commented on #10
I seem to be having some issues using this command line flag. Am I doing something wrong?
[code]

[2017-11-26 19:24] daniel-centore opened #73 "SSH config port not being used"
Here is my `~/.ssh/config` file:
[code]

When I ssh using `ssh bfs`, it allows me to connect.

When I use et, I get this instead:
[code]

It does not seem to be respecting the port I put in the config file, as it's clearly trying to connect with 22. However, the config file _is_ being used, because if I change the `HostName` to something else, the hostname in the aforementioned `et` output also ch

[2017-11-26 22:24] ailzhang commented on #73
Hi Daniel,

I tried on my local mac and the port setting was used. Could you please try `et daniel@bfs` and paste the $TMPDIR/et.INFO here?

[2017-11-27 02:49] daniel-centore commented on #73
`$TMPDIR/et.INFO`:
[code]

[2017-11-28 04:40] daniel-centore commented on #73
I'm not sure if this helps you debug, but the problem persists even when removing the entry from my user config and adding the same entry to `/etc/ssh/ssh_config`. `ssh daniel@bfs` continues to work properly in this case.

[2017-11-28 04:43] ailzhang commented on #73
Hi Daniel,

Thanks for the information! To clarify, did you mean that `ssh bfs` didn't work but `ssh daniel@bfs` worked?

[2017-11-28 12:39] daniel-centore commented on #73
`ssh bfs` works and `ssh daniel@bfs` works, sorry for the confusion. Regardless of which config file I use the output is identical, and regardless of whether or not I include my username in either command, the output is identical.

[code]

[2017-11-29 01:14] ailzhang commented on #73
Hi Daniel,

This is indeed a bug in the code. We sshed to the parsed hostname directly, which should be `bfs` in this case to make use of the ssh config file. This has been fixed here https://github.com/MisterTea/EternalTCP/commit/1dd2209950eab92fdbaa5d292cbc027d3ef212d9. Thanks for bringing this to our attention!

[2017-11-29 01:25] daniel-centore commented on #73
Thank you!

[2017-11-29 01:25] #73 closed

[2017-12-21 19:50] miquels opened #75 "ET client crashes when connecting to VPN"
The "et" binary crashes client-side as soon as I set up an OpenVPN connection to the OpenVPN gateway at work. It works fine without VPN, it als works if the VPN is up, I connect with "et", then  tear down the VPN - the et session stays up - but as soon as I connect with OpenVPN - crash.

This is on OSX 10.11.6.

Traces:
[code]

[2018-01-01 23:39] ailzhang commented on #57
This is included in PR76.  https://github.com/MisterTea/EternalTCP/pull/76

[2018-01-02 19:55] MisterTea opened #77 "Pass log level from etserver root process to user processes."
See PR #76 for discussion.

[2018-01-03 19:29] teresaejunior commented on #63
Thank you!

[2018-01-09 01:30] 2devnull opened #78 "Does this work with spiped"
I currently use spiped with ssh (and autossh) via ProxyCommand. Does et support this?

[2018-01-09 02:30] MisterTea commented on #78
Yes, using the port forwarding feature in et. Basically you would forward port XXX on your machine to port YYY on the destination machine, then make an spiped connection to localhost:XXX

Closing. Feel free to comment if it doesn't work and I can reopen.

[2018-01-09 02:30] #78 closed

[2018-01-14 02:08] tonidy commented on #59
Same problem with @bkarlson, I need to use rmate for VS Code via terminal. Any progress on this issue @MisterTea ?

Thanks

[2018-01-17 18:40] coventry opened #79 "Entering an invalid idpasskey can crash the server"
I really like where EternalTCP is heading.

It would be considerate to add warnings to the `README` and other documentation that `etserver` can easily be induced to segfault, and is therefore a likely security vulnerability and should not be used in sensitive contexts.

[2018-01-17 18:51] MisterTea commented on #79
Can you be more specific?  If there is a segfault that can be induced, I would rather fix it than put up some disclaimer.

[2018-01-17 19:40] MisterTea commented on #79
Just to be clear: if someone sends raw data using telnet, it is possible to segfault because ET will try to make an impossibly large malloc.  This isn't a security bug, but it is annoying because it crashes the main server which disconnects all other sessions.  A fix is on the way.

[2018-01-17 19:52] #79 closed

[2018-01-17 20:14] MisterTea commented on #75
It looks like a log fatal.  Can you upload the logs?

[2018-01-17 20:20] MisterTea commented on #71
Hmm, you are failing inside initsocket, weird.  I can add a guard to handle that case, but can you tell me what OS the client & server are running?  I'm really surprised setsocketopt is failing for you.

[2018-01-17 20:32] coventry commented on #79
Please reconsider this approach. A segfault on corrupted inputs is *ipso facto* a security vulnerability in a network application. A facile check for the specific corruption I provided is an inadequate response.

I wasn't even auditing for vulnerabilities, just stumbled on it by accident while debugging the connection.

[2018-01-18 03:07] MisterTea commented on #71
Hmm, these people are having the same issue: https://github.com/joyent/illumos-joyent/issues/148

[2018-01-18 03:17] #71 closed

[2018-01-18 03:18] MisterTea commented on #71
Alright I added a guard around initSocket.  If you still have this issue,  reply here and we will re-open.

[2018-01-18 03:19] #57 closed

[2018-01-18 03:19] #60 closed

[2018-01-18 03:21] MisterTea commented on #59
Sounds like this is the most needed feature that we don't already have :-).  I should be able to code this up by next week.

[2018-01-18 04:58] MisterTea commented on #59
You can track progress by following this branch: https://github.com/MisterTea/EternalTCP/tree/reverse_tunnel

[2018-01-18 08:50] MisterTea commented on #59
Alright, I tested this on my machines and it seems to work.  I need other people to test before I can merge this in with confidence.  This means you @michaelsuo  @tonidy @bkarlson et al :-)

Please checkout branch reverse_tunnel, build the latest commit of that branch, and replace your et and etserver binaries on both client & server with the ones you build.  Then you should be able to use reverse

[2018-01-18 17:01] MisterTea opened #81 "Add flag to kill et previous sessions before login"
Consider adding a flag that kills all etserver processes from the current user before login.  This removes the need to manually clean up stale processes assuming that each user will have a single session.

[2018-01-18 17:07] ailzhang commented on #81
This is a brilliant idea!! I'm happy take care of this :)

[2018-01-19 08:41] ocavue commented on #81
It's exactly what I need!

[2018-01-25 19:24] ayushbgl opened #82 "Installation via Homebrew issues"
brew install MisterTea/et/et
Updating Homebrew...
==> Installing et from mistertea/et
==> Downloading https://github.com/MisterTea/EternalTCP/archive/et-v4.1.2.tar.gz
Already downloaded: /Users/bagla/Library/Caches/Homebrew/et-4.1.2.tar.gz
==> cmake . -DCMAKE_C_FLAGS_RELEASE=-DNDEBUG -DCMAKE_CXX_FLAGS_RELEASE=-DNDEBUG -DCMAKE_INSTALL_PREFIX=/usr/local/Cellar/et/4.1.2_1 -DCMAKE_BUILD_TYPE=Release -

[2018-01-25 23:11] ayushbgl opened #83 "Issues in installing et via homebrew"
If you have set up ET correctly and are having an issue connecting/maintaining a session, please consider running in verbose mode and adding client & server logs to your issue.

To run in verbose mode, pass the -v flag to et.

To collect logs, run the following on your client:

tar -cvzPhf /tmp/etclientLogs.tar.gz /tmp/etclient_err /tmp/etclient.INFO

Then run this on your server:

tar -cvzPhf /tm

[2018-01-25 23:11] #83 closed

[2018-01-25 23:31] MisterTea commented on #82
et should depend on glog. Maybe your glog is corrupt?  Can you try to reinstall glog and then install et again?

[2018-01-29 10:26] akanter opened #87 "MacOS client -> Ubuntu server: Immediate "Session terminated""
My sessions seem to terminate immediately upon creation when I try to connect from my MacOS client to an Ubuntu server. They are both on version 4.1.2. I've connected with this client to a different server running et without trouble so I'm wondering what might be causing the problem on the server.

[code]

Relevant server log
[code]

[2018-01-30 22:57] MisterTea commented on #81
In latest master.

[2018-01-30 22:57] #81 closed

[2018-01-30 22:58] MisterTea commented on #59
Implemented in latest master.

[2018-01-30 22:58] #59 closed

[2018-01-31 01:40] MisterTea commented on #87
Hmm, can you run in verbose mode?

Set the verbose flag in et.cfg and run "et -v", then send us the verbose logs.

Thanks!

[2018-01-31 01:53] MisterTea commented on #75
@miquels  Hey, we made changes that may have fixed this in latest master.  Can you retest?  Thanks!

[2018-02-01 07:19] akanter commented on #87
etserver.INFO
[code]

etserver_err
[code]

etclient_err
[code]

There is no /tmp/etclient.INFO.

This doesn't seem a lot more useful than what I gave you before, unfortunately.

[2018-02-02 08:43] MisterTea opened #89 "Read from terminal and cache on etserver while the client is disconnected."
Some programs such as tmux will set stdio to non-blocking and then spincycle when stdout/stdin is unavailable.  We can handle this on our end by accumulating encrypted data in a temporary file while the client is disconnected and then flushing the file when the client reconnects.

[2018-02-16 17:12] jrwats opened #90 "Client doesn't read port forwarding from ssh config files"
[code]

should work.  Passing each port I'd like forwarded to `-t` is tedius

[2018-02-16 17:32] ailzhang commented on #90
We only use a very limited set of ssh config information right now(hostname alias etc). Will put this on my todo list and work on it. :)

[2018-02-18 15:38] yermulnik opened #91 "PPA Package for Trusty?"
Any chance for PPA Package for Trusty (14.04 LTS)?

[2018-02-18 16:10] MisterTea commented on #91
We used to make trusty packages but Launchpad doesn't allow new Trusty packages, so there's no way we can do this, sorry :-(

[2018-02-18 16:10] #91 closed

[2018-02-20 23:47] mdolenga-fb opened #93 "Log file etclient_err became writeable by root only, requiring sudo to run et"
This issue occurred with an et client installation on Ubuntu 16.04. At some point, I was only able to run et under sudo; otherwise the process segfaulted shortly after authenticating me with the remote server.

After some investigation with Jason, he identified the root cause - the file /tmp/etclient_err was writeable only by root. After changing its permissions to 666 with chmod, the issue was re

[2018-02-24 03:04] MisterTea commented on #93
@ailzhang 's logging rewrite will also remove the stderr/stdout logging and thus fix this issue.

[2018-02-27 17:07] #82 closed

[2018-02-27 17:08] #75 closed

[2018-02-27 17:10] #77 closed

[2018-02-28 13:56] nnutter opened #94 "Search engines still returning top result for https://mistertea.github.io/EternalTCP/"
Both Google and DuckDuckGo return https://mistertea.github.io/EternalTCP/ as the top result for "eternal terminal" so someone searching for this project gets a GitHub 404 error page.

[2018-02-28 13:57] nnutter commented on #94
You might want to setup an HTTP meta redirect under the old name and/or look into telling the search engines about the name change.  Unless it just happened and I'm just happening to catch it in transition.

[2018-02-28 16:16] MisterTea commented on #94
The name change just happened and unfortunately there's no way to redirect the website :-(. Google and the other engines should update in a few days.

[2018-02-28 16:35] telser commented on #94
@MisterTea That is really unfortunate :( My apologies since it seems this was started by the FreeBSD porting. FWIW, the actual repo redirects fine, at least from my end.

[2018-03-06 07:25] #94 closed

[2018-03-06 07:25] #93 closed

[2018-03-31 00:54] aelavender opened #101 "ssh escape sequences?"
Hi, I was wondering if ssh escape sequences (like these: https://pleiades.ucsc.edu/hyades/SSH_Escape_Sequences) are supported?  I'm used to being able to jump back to my local shell with `~ ctrl-Z`.  Thanks!

[2018-04-11 16:46] maverickwoo opened #102 "use ssh on path"
I am on a Mac and I use a newer ssh client from MacPorts. As such, my `~/.ssh/config` contains commands that are not understood by the older ssh shipped with macOS. However, `et` currently seems to hardcode `/usr/bin/ssh` and so I ended up getting, for example:

[code]

May I suggest that `et` uses the `ssh` on path? Thanks!

[2018-04-13 23:55] cquinn opened #105 "It appears there are no Ubuntu Trusty builds available"
The dists/ directory lists trusty, but there are no trusty debs in pool. Is it possible to build ET for trusty?

[2018-04-13 23:58] ailzhang commented on #105
ubuntu 14.04 doesn't have some dependencies in the official pool like libsodium. So on ubuntus < 16.06, building from source is the best way to install.

[2018-04-14 00:01] MisterTea commented on #105
Yep, Launchpad doesn't even support pushing packages for trusty.  IIRC the new Ubuntu LTS version should be out any week now.

[2018-04-14 00:01] #105 closed

[2018-04-14 00:28] cquinn commented on #105
Thanks. I'm still stuck on Trusty for dev until my company updates. (so many old dependencies). But I did manage to get ET building with a tiny gflags namespace hack.

[2018-04-16 11:09] paride opened #106 "Doesn't work with with non sh-like shells"
When using a shell that doesn't allow the `VAR=val command` syntax, `et` fails to start `etserver`. This is the error message:

[code]

and the fix probably consist in running `/bin/sh -c ...` instead of relying on the default shell.

[2018-04-17 20:37] #102 closed

[2018-04-24 17:17] MisterTea commented on #87
We've changed so much including a rewrite of our logging library, so I'm going to close this.  If it's still an issue, please repro on the latest version and open a new issue, thanks!

[2018-04-24 17:17] #87 closed

[2018-04-28 04:04] eschwim opened #108 "Flow Control"
I use a single ET (which is awesome, btw) instance to wrap all of my tmux windows.  Occasionally, I do something ill advised that spews a ton of text to my terminal (usually something like tailing a very busy job's stderr), which ends up completely paralyzing my TTY (i.e. it displays output but stops accepting input, most notably SIGINT).

I usually end up having to open a throwaway SSH session to

[2018-05-04 03:28] zefei opened #109 "Can't find etserver during initial connection"
I'm a first time user of et and is currently trying to use v4.2.1. During connection (after ssh password), et returns with error:
    bash: etserver: command not found
    Error:  The Eternal Terminal daemon is not running.  Please (re)start the et daemon on the server.

Doing `which etserver` on my server, I got `/usr/local/bin/etserver`.

[2018-05-04 04:33] ailzhang commented on #109
@zefei , could you double check if there's a etserver daemon running? `ps aux | grep etserver`

[2018-05-04 06:12] zefei commented on #109
I tried on two servers, one has etserver daemon running `/usr/local/opt/et/bin/etserver --cfgfile /usr/local/etc/et.cfg --daemon` and one has not. Connecting either server results in the same error `bash: etserver: command not found`.

[2018-05-08 01:04] MisterTea commented on #109
@zefei Latest master now runs the etserver in interactive mode.

[2018-05-08 01:04] #109 closed

[2018-05-08 06:08] zefei commented on #109
@MisterTea @ailzhang thank you for the quick fix!

[2018-05-24 19:54] moltar commented on #54
@liammac How did you manage to `make` it?

I am getting errors:

[code]

I do have `gflags` lib installed.

[2018-05-25 23:51] kevinclevercoding opened #114 "fatal error: ETerminal.pb.h: No such file or directory"
Build from source fails on fatal error: ETerminal.pb.h: No such file or directory.

Here's the output from cmake and make:

-- The C compiler identification is GNU 7.3.1
-- The CXX compiler identification is GNU 7.3.1
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check f

[2018-05-26 00:45] #114 closed

[2018-05-27 16:58] fdmgit opened #115 "Can't connect after upgrade"
Just upgraded et on Ubuntu from version 42.1 to 5.0.6. And did an 'brew install MisterTea/et/et' which mainly upgrades the OS X client version.

After having done that I'm getting the message:

bash: cannot set terminal process group (-1): Inappropriate ioctl for device
bash: no job control in this shell

and after a few seconds the session will be closed.

Any hints what I could do to fix the iss

[2018-05-27 18:40] MisterTea commented on #115
@azhang Could this be related to the interactive mode change?

[2018-05-27 21:06] MisterTea commented on #115
@fdmgit Can you tell us which version of ubuntu you are running?

[2018-05-28 05:10] fdmgit commented on #115
I'm using Ubuntu 16.04.1

[2018-05-28 05:50] MisterTea commented on #115
@fdmgit Thanks, I'm able to duplicate.  Pushing out a new version with a fix now.

[2018-05-28 05:51] #115 closed

[2018-05-28 06:07] MisterTea commented on #115
@fdmgit  I just pushed 5.0.7 with a fix.  Try that version and let me know if there are still issues, thanks for reporting!

[2018-05-28 06:10] MisterTea commented on #115
(BTW you can follow the push status here: https://launchpad.net/~jgmath2000/+archive/ubuntu/et/+packages )

[2018-05-28 06:40] fdmgit commented on #115
It works. 👍

[2018-05-29 17:04] oorrwullie opened #117 "bash: cannot set terminal process group (-1): Inappropriate ioctl for device"
When attaching a client I get:

``bash: cannot set terminal process group (-1): Inappropriate ioctl for device``
``bash: no job control in this shell``

The connection does not crash and I don't get any other errors in the logs. This is on the latest current build.

[2018-05-29 19:14] oorrwullie opened #118 "Dependencies for Centos 6-based systems like Amazon Linux"
Here is a little information you can add to your installation section for compiling on Centos 6 based systems like Amazon Linux if you want:

glog, gflags, protobuf, and libsodium all need to be compiled from source. The rpm packages are too old and will not allow ET to compile.

gflags needs to be compiled with the namespace=gflags NOT google, or it will break and you’ll have to edit src/terminal

[2018-05-30 02:49] tbodt commented on #106
The solution is likely to change $SHELL to /bin/sh in two places in SshSetupHandler.cpp.

[2018-05-30 18:32] ailzhang commented on #108
Thanks for reporting the issue! I can repro this on et 5.0.7. Any idea how we can fix it? @MisterTea

[2018-05-30 18:43] ailzhang commented on #106
@MisterTea Do we want to replace current $SHELL with /bin/sh as suggested by @tbodt ? It makes sense to assume everyone has /bin/sh imho.

[2018-05-30 18:58] MisterTea commented on #106
If we change the shell, the the path will be incorrect for people who rely on .bashrc or .zshrc to find etserver, no?

Unfortunately "set" means something different for bash & zsh, so to address this, we need to have two versions of the ssh script: one for fish and one for everyone else.

[2018-05-30 19:03] ailzhang commented on #106
Yes you are right about the .bashrc and .zshrc. In interactive mode of ssh, it does find the PATH in those files.

Although a bit messy in code, do we want to add the support for non sh-like shells? Looks like this is the only place that shell matters.

[2018-05-31 00:44] MisterTea commented on #108
I'm not saying this is a solution, but to help me understand: ctrl-c literally never works?  Or it just takes 10+ minutes?  Trying to figure out where the bottleneck is.

[2018-05-31 00:49] ailzhang commented on #108
@MisterTea Great point! I didn't wait long enough but killed the `yes` process through an ssh session. Started it again and plan to wait about 30mins. :) Will report back.

[2018-05-31 00:52] MisterTea commented on #106
Fortunately we have a good solution: we just need to use export

[2018-05-31 01:14] MisterTea commented on #106
Doh, looks like there's another issue:  ${VARIABLE} is not supported in fish

[2018-05-31 01:15] tbodt commented on #106
Couldn't all of this stuff be done in etserver instead of with a shell script?

[2018-05-31 01:16] MisterTea commented on #106
To do that we would need to link in our own ssh library that works on all platforms.  It's do-able but not easy.

[2018-05-31 01:17] tbodt commented on #106
Would you? The only thing I see happening in the shell script is creating a temp file and writing a fixed string into the temp file.

[2018-05-31 01:18] MisterTea commented on #106
oh, I see what you are saying.  We could just call etserver and let etserver create the passkey and print it to stdio.  That's a great idea

[2018-05-31 01:32] MisterTea commented on #106
Hmm, actually that won't work because we need the client to create the id & passkey on the client and pass it in securely.  If I make it a command line argument then anyone can read it from ps

[2018-05-31 03:02] MisterTea commented on #106
It's hard (impossible?) to write some if/then/else that runs a fish script or a bash script.  I tried this:

[code]

but even though the fish command failed, it didn't return exit code 127 as advertised. Someone who knows more about fish than me will have to write some shell script that runs one set of commands for fish and a different set for everyone else.

Alternatively, you can run fish by doi

[2018-05-31 03:27] #39 closed

[2018-05-31 07:55] paride commented on #106
A user can have any kind of shell, I think it's wrong to assume anything more than the existance of `/bin/sh`. If you recognize this as an issue, and it is not fixed, I think it should be left open.

[2018-05-31 14:41] MisterTea commented on #106
I'll keep it open for a few months but if no one picks it up I'll close it.

[2018-05-31 18:32] tbodt commented on #106
You could send it through stdin with echo and a pipe, both of those work in fish.

[2018-05-31 20:21] vincer opened #120 "Occasional increased lag/latency"
I'm quite often getting periods of high latency where even just typing letters at the command line will take seconds to echo back. Or when I `ls -l` a large directory, I see it print out the results in large blocks slowly.

Client is a mac, server is Ubuntu.

My client and server are on the same local LAN. `iperf` consistently reports 900+ Mbps. When running `et` and a vanilla `ssh` session side b

[2018-05-31 22:12] ailzhang commented on #120
Hi @vincer , thanks for reporting the issue! Could you provide a complete log of etclient & related etservers that this issue happened? with --v=9 would be perfect. Thanks!

[2018-05-31 22:26] MisterTea commented on #120
Also please let us know which version of et is running on the server & client, thanks.

[2018-06-01 19:21] vincer commented on #120
I restarted server and client with `-v=9` and waited for a repro which just happened.

[etserverLogs.tar.gz](https://github.com/MisterTea/EternalTerminal/files/2063870/etserverLogs.tar.gz)

I don't see where the client logs end up though? All I see in `/tmp` is an empty `etclient_err` file.

I saw increased latency at about 12:10 and you'll see some ERROR lines in the server logs above around that

[2018-06-01 19:23] MisterTea commented on #120
Makes sense. I'm seeing several errors that we fixed in 5.0.7. Can you update to that and retry?

[2018-06-01 20:54] vincer commented on #120
Just happened again on 5.0.7

[etclientLogs.tar.gz](https://github.com/MisterTea/EternalTerminal/files/2064082/etclientLogs.tar.gz)
[etserverLogs.tar.gz](https://github.com/MisterTea/EternalTerminal/files/2064083/etserverLogs.tar.gz)

Happened around 13:48

[2018-06-01 20:58] ailzhang commented on #120
Hey thanks @vincer for the logs! We're on this issue now. Btw it will be great if you can start the etclient with --v=9 next time so that we have detailed log on the client side as well. ;) We will see what we can get from the current logs first!

[2018-06-01 21:29] vincer commented on #120
Ah, I did `-v=9` instead of `--v=9` (the `-help` text shows it as `-v`, fyi).

Just restarted and confirmed I'm getting verbose logs now, so I'll post again on the next occurrence.

[2018-06-01 22:46] ailzhang commented on #120
Thanks we will check `-v` and update the help accordingly! Btw I checked the current logs, looks like the connection was killed by etclient due to a missing keepalive.
`[INFO 2018-06-01 13:48:30,002 0x7fff9c5f93c0 TerminalClient.cpp:459] Missed a keepalive, killing connection.`
And etserver received this keepalive at the same time.
`[V1 2018-06-01 13:48:30,669 139914079766272 TerminalServer.cpp:27

[2018-06-03 00:45] 20015jjw opened #122 "`echo` in .bash_profile breaks ET"
Issue: as et relies on some info echoed out upon the connection is established, echoing other stuff manually breaks it.

[![asciicast](https://asciinema.org/a/LkiuIZvhkbX64deokR1Zlv96r.png)](https://asciinema.org/a/LkiuIZvhkbX64deokR1Zlv96r)

[2018-06-04 20:18] vincer commented on #120
Here's another occurrence with the client in `v=9`. Happened around 6/4 at 13:10.

[etclientLogs.tar.gz](https://github.com/MisterTea/EternalTerminal/files/2069831/etclientLogs.tar.gz)
[etserverLogs.tar.gz](https://github.com/MisterTea/EternalTerminal/files/2069832/etserverLogs.tar.gz)

[2018-06-04 22:22] MisterTea commented on #120
@vincer Do you have a single connection or multiple connections?  Also, are you running with the "-x" flag to kill stale sessions when you reconnect?

[2018-06-05 00:57] vincer commented on #120
Single connection. I wasn't using `-x` and when I just tried it, it seems to just kill the server.

i.e. I run `et -x --v=9 vince`, and get back
`Error:  The Eternal Terminal daemon is not running.  Please (re)start the et daemon on the server.`

[etclientLogs.tar.gz](https://github.com/MisterTea/EternalTerminal/files/2070441/etclientLogs.tar.gz)
[etserverLogs.tar.gz](https://github.com/MisterTea/

[2018-06-05 01:27] MisterTea commented on #120
Running with -x kills the server?  Maybe you are running two servers by accident or something?

[2018-06-05 02:05] vincer commented on #120
I don't think I could by accident. If I try to launch another one I get:
[code]

Here's me killing an old server, checking there isn't any other running, and then running a new one (interactively), and seeing it get terminated when I try to connect.
[code]

Client command run: `et -x --v=9 vince`. Running that immediately ended the server above.

My server config:
[code]

This reproduces for me ev

[2018-06-05 02:14] ailzhang commented on #120
The problem of is that `./etserver` was not running under root. What `-x` does is to kill all etserver process under your user account and keep the root one. Actually I'm not sure running etserver without sudo will lose. Could you ran your etserver with sudo instead?

[2018-06-05 02:43] MisterTea commented on #120
I've been meaning to split out the terminal part of etserver into its own binary, I'll do that tonight.

[2018-06-05 03:41] MisterTea commented on #120
@vincer Can you try on your ubuntu server:

1. check out the shutdown_connections branch of this repo, build it
2. replace your et & etserver with the one you built: ```sudo systemctl stop et; sleep 1; sudo cp ./et /usr/bin/et; sudo cp ./etserver /usr/bin/etserver; sudo systemctl start et```
3. reconnect and see if the issue goes away.

You shouldn't have to update your client.

[2018-06-05 22:39] vincer commented on #120
Ok, running etserver with sudo resolved the `-x` issue, now I can connect with that just fine.

I got the branch compiled and running just now and on my first try I got a session that was very laggy. It froze up a couple times completely for several seconds (once around 15:21, another time around 15:24) but even outside those times things were just slow where paging up/down through a large file in

[2018-06-06 00:14] MisterTea commented on #120
@vincer Did you also run that branch on the client?

[2018-06-06 01:40] vincer commented on #120
I didn't, still running the released 5.0.7 there, because I thought I didn't need to update my client. I certainly can though if that's helpful, I just need to compile it on Mac then which will take a little time.

[2018-06-06 02:09] MisterTea commented on #120
Yeah this change affects both, let me know if the shutdown branch on client helps, thanks.

[2018-06-07 01:02] vincer commented on #120
Also, since switching to the shutdown branch I've been seeing et die when the network turns off (i.e. unplugging from ethernet and switching to wifi).

The et client prints the following when it's dies.
[code]

Happened around 17:58.

[etserverLogs.tar.gz](https://github.com/MisterTea/EternalTerminal/files/2078611/etserverLogs.tar.gz)
[etclientLogs.tar.gz](https://github.com/MisterTea/EternalTermi

[2018-06-07 19:04] ailzhang commented on #120
Following the steps above, my `et` didn't die but comes back as normal after I turn on wifi. However when I tried to exit that session, it shows `Abort trap: 6` with the following logs.
[code]
Looks like this error is specific to the new change in shutdown branch. cc: @MisterTea

[2018-06-07 19:55] MisterTea commented on #120
Interesting, I'll take a look later today

[2018-06-12 16:56] ailzhang commented on #120
FYI I could repro the "session terminated" issue on my fix_reconnect branch hmmm. I will take a look on that issue.

[2018-06-12 21:09] vincer commented on #120
I just got another instance of the increased lag for about 1 minute. Recovered on its own again.

Happened around 14:01

[etserverLogs.tar.gz](https://github.com/MisterTea/EternalTerminal/files/2095839/etserverLogs.tar.gz)
[etclientLogs.tar.gz](https://github.com/MisterTea/EternalTerminal/files/2095840/etclientLogs.tar.gz)

This was while on wifi vs the other reports were on ethernet. But I verifi

[2018-06-12 22:54] MisterTea commented on #120
@vincer In the latest shutdown_connections branch I've fixed the crash you were experiencing.

[2018-06-12 22:59] MisterTea commented on #120
@vincer Do you have multiple et sessions going to the same machine?  Your client logs look very clean but the server logs have errors.  Can you clean your /tmp folder on the client and then send us all the client logs?

[2018-06-12 23:04] MisterTea commented on #120
@vincer Actually maybe what is happening is another service is trying to connect to the server on ET's port and it's disrupting your connection.  Can you change et port and see if that improves things?

[2018-06-12 23:05] MisterTea commented on #120
Yeah I am pretty sure of it now:  There is something on your network that is trying to connect to your ET server on port 2022 over and over again at 14:00 and it is disrupting your session.  Maybe you have some anti-malware thing that is scanning all of your ports every few hours?

[2018-06-12 23:07] MisterTea commented on #120
@vincer You should use wireshark and monitor port 2022 when the slowness happens to see who is spamming your server: https://www.wireshark.org/

[2018-06-12 23:23] vincer commented on #120
I only have one client running at any time.
[code]

Also confirmed by looking at /tmp and there's only one `etclient-*.log` actively being written to.

I'll compile the new changes and start running with those.

The extra connections may be my work's security scanner that I mentioned before. I'm now monitoring all connections in to port 2022 (with iptables as described here https://superuser.com/a

[2018-06-13 00:20] MisterTea commented on #120
Ah ok, yeah it could be that your work's security scanner is DoSing ET. I will add a magic packet at startup to fix this.

[2018-06-13 00:42] vincer commented on #120
Yep, confirmed. Just had another bout of lag while seeing a bunch of inbound connections coming from a different IP than my client to et's port.

[2018-06-13 01:00] MisterTea commented on #120
Makes sense. I'll write something tonight that will kill the connection early if it doesn't get a magic packet

[2018-06-13 01:42] MisterTea commented on #120
Actually the issue is that a new connection blocks the whole server until it's established.  I'll write a fix tonight.

[2018-06-13 03:15] MisterTea commented on #120
Alright @vincer get the latest version of the shutdown_connections branch and try it out.  It should reject the port scanner without affecting your connection

[2018-06-14 00:36] vincer commented on #120
Updated, but I'm still getting lag when the port scanner is actively hitting etserver. Happened around 17:30.

[etclientLogs.tar.gz](https://github.com/MisterTea/EternalTerminal/files/2100408/etclientLogs.tar.gz)
[etserverLogs.tar.gz](https://github.com/MisterTea/EternalTerminal/files/2100409/etserverLogs.tar.gz)

[2018-06-20 18:10] phord commented on #109
Gah!  ssh shouldn't run in interactive mode unless you are running an interactive shell.  You are not.

Interactive mode has many other implications, including which shell is started, what profiles are loaded, etc.  A better option would be to include a config option specifying the server location, a client-side switch to let me specify the full path on the remote, or some intelligent search/retry

[2018-06-21 18:31] vincer commented on #120
I'm also occassionally having issues where the client freezes up completely and my only out is to kill it and start again. Switching networks seems to trigger it. Not sure if this is related to the shutdown_connections branch.

The client log below ends when I had to kill it at around 11:16. It seems like it was trying to reconnect.
[etclientLogs.tar.gz](https://github.com/MisterTea/EternalTermina

[2018-06-21 18:54] ailzhang commented on #120
@vincer there might be another etterminal* log in /tmp on server side? Could you attach that as well since it could be helpful for debugging. Thanks!

[2018-06-21 19:23] vincer commented on #120
Ah, yeah, there's a couple around that timestamp.

[etterminals.tar.gz](https://github.com/MisterTea/EternalTerminal/files/2125053/etterminals.tar.gz)

[2018-06-22 02:34] ailzhang commented on #120
@vincer Could you checkout fix_reconnect branch(it's shutdown_connection branch with more logging) and retry with --v=9?
Thanks!

[2018-06-28 03:00] rankun203 opened #124 "How do I use an SSL Certificate file "*.pem""
With ssh I'd use

[code]

wondering how I could use `me.pem` in EternalTermainal.

[2018-06-28 03:01] ailzhang commented on #124
You could put it in ~/.ssh/config

[2018-07-11 08:14] philtreF opened #125 "core dumped on Fedora 28"
Hi,

I'm trying to make run `et` on Fedora 28. It already works with sudo but when launched as non-sudo user `et` is crashing.

https://pastebin.com/j509Swu9

Like said previously everything is working fine when I launch the same command with `sudo` before. This is the lsof output regarding et process running with sudo :

https://pastebin.com/UktQBHuT

So we are looking for some file or socket per

[2018-07-11 14:39] MisterTea commented on #125
If you ran etserver as root, then you need to clean up some files before running as another user. Try: sudo rm /tmp/etserver*

[2018-07-11 14:39] MisterTea commented on #125
Why do you need to run etserver as a normal user?

[2018-07-11 20:11] fhilpert commented on #125
Hi MisterTea,

Thank you so much for your answer.
etserver is running as root no issues with that for now. It is the `et` client I want to run as a non-root user. I got the previous traces when running `et` as a non-root user. Everything is working fine when I  run `et` with sudo.

Fred

[2018-07-11 23:18] MisterTea commented on #125
Oh, it may be because you ran et as root once?  Try: sudo rm /tmp/et*
Then restart the et service and it should work as nonroot.
@ailzhang maybe we should chmod the log files as a+re this way non-root users can delete logs created by root

[2018-07-12 05:36] ailzhang commented on #125
@MisterTea sure that sounds good to me! I will add it sometime this week

[2018-07-12 05:41] ailzhang commented on #125
Hmmm after a second thought I'm not sure if this is safe. Currently we rotate the log file every 20M, (old file is deleted). And etserver daemon log is only writable by sudo. That sounds safer than everyone else can delete/modify the daemon log to me.
The etjump* and etterminal* logs belongs to users.

[2018-07-12 05:56] MisterTea commented on #125
Yeah that's a fair point. Can we chmod the et log and leave the etserver log as is?

[2018-07-12 07:11] fhilpert commented on #125
Hi,

Yes, I can confirm that removing the et* files in /tmp/ is making it working as a non-root user.
+1 for the chmod patch!

Thank you !

[2018-07-12 07:14] ailzhang commented on #125
@MisterTea Right now the only log need root is the daemon log. Other than than terminal logs are all belong to users. I think these are the expected behavior?

[2018-07-12 07:18] MisterTea commented on #125
Oh, all the client logs have the user id in the filename?  Hmm, I wonder why he had that error then. I'll try to reproduce tomorrow.

[2018-07-12 07:22] ailzhang commented on #125
Client logs are named as etclient-time.log, and terminal logs have userid in the name.

I think it's possible caused by some minor files like etclient_err, after using sudo to run, this file is changed to sudo user and normal et would fail to open it. @fhilpert did cleaning /tmp/* on client side or server side fix the issue?

[2018-07-12 08:04] fhilpert commented on #125
Steps to reproduce :

1. Clean all the et files in /tmp
2. run as sudo
3. try to run as a non-root user

[2018-07-12 08:05] fhilpert commented on #125
@ailzhang cleaning client-side files made the trick.

[2018-07-12 18:08] ailzhang commented on #125
@fhilpert  Yea I think that aligns with my guess. https://github.com/MisterTea/EternalTerminal/blob/master/src/terminal/TerminalClient.cpp#L300 This file belongs to sudo after the first attempt, and the following sessions were not able to write to it. I will issue a fix (either write to /dev/null or name it randomly) this week :D

[2018-07-17 13:31] fhilpert commented on #125
@ailzhang Sorry for the late reply. Instead of naming it randomly, you could name it `etclient_err_username_date`   or somehow like this ? Other files are named this way  : `etclient_err-date.log`

These solutions could be better for debuging purposes, according to me.

[2018-07-18 14:38] vvug commented on #106
This project can't be considered serious if it silently depends on a user's shell choice. @tbodt solution makes sense. If `etserver` is not in the PATH, then allow specifying its full path as an etclient option.

[2018-08-16 22:22] michel-slm opened #128 "Incorrect error message on connection issue"
I attempted to connect to a remote host when my `.ssh/config` (synced from Dropbox) has an incorrect permission, and et wrongly claimed the daemon is not running:

[code]

this is et-5.0.7-2.fc28 which just got imported into Fedora

[2018-08-17 06:56] philtreF commented on #128
Hi, michel-slm,

I also noticed that. This seems to be some kind of a generic error wich appears  everytime `et` is unable to connect. I agree with you, this could be improved somehow, but this may not be the current focus @ailzhang @MisterTea  ?

[2018-08-17 16:44] ailzhang commented on #128
@michel-slm  @philtreF Yea agree that the err message was not clear enough. I will prepare a patch to improve it. :)

[2018-08-17 18:15] ailzhang commented on #128
@michel-slm  I tried to repro this by changing file permission but my ssh still connects. Could you let me know what was your file permission when you couldn't connect?

[2018-08-21 18:19] michel-slm commented on #128
@alizhang try 664

[2018-08-22 17:15] #128 closed, assigned to nobody

[2018-08-25 14:12] TomSputz opened #130 "Hyper js"
I'm at a complete loss of how to get htm working with Hyper, what am I missing?

Or, is it just not compatible with windows yet? Or key authentication?

What I've attempted so far:
1. cmd (no errors were thrown):
[code]
2. in Hyper built in step 1(hyper/build/win-unpacked):
[code]
3.
zsh on server I'm ssh-ing to (no errors thrown):
[code]
then running `~/EternalTerminal/build/htm` while using the

[2018-08-26 15:59] MisterTea commented on #130
Everything looks fine. I haven't tried it on Windows yet. I'll give it a shot tomorrow.

[2018-08-26 19:24] chipturner opened #131 "Add support to kill an et session from the client side"
ssh allows a connection to be killed by entering '\~.' (this is part of a generic command menu supported by ssh; see '\~?' for a list of other commands).

On rare occasions, et seems to get stuck on the client side.  I would like to close that session without (a) killing the terminal tab, and (b) having to find the pid to send a kill signal.  '~.' is ideal for this in SSH, so a similar feature wou

[2018-08-26 19:46] MisterTea commented on #131
Maybe this is a dumb question, but: what's to prevent someone from accidentally killing their session by typing ~.?  I guess it's not something people ever type normally?

[2018-08-26 23:03] chipturner commented on #131
It's an infrequent combination but ssh only listens for the \~ command when it is preceded by a newline, so effectively the sequence is <newline>-<tilde>-COMMAND where command is any of

[code]

[2018-08-28 19:41] michel-slm opened #132 "Feature request: use interactive SSH for ET login"
When the ET client establishes a connection, it uses SSH in a non-interactive mode. This breaks setups that require two-factor authentication as part of an SSH connection; instead of prompting the user at the terminal the two-factor auth prompt is not displayed

[code]

[2018-08-30 09:23] aslpavel opened #133 "Upgrade from 5.0.7 -> 5.1.0 break et for me"
When I was trying to connect to my host machine with updated eternal terminal, I got following error.

[code]

I'm running ArchLinux with default `et.cfg`
[code]

Package content:
[code]

Logs do not contain any errors. After looking through the code it looks like this piece is to blame, but I'm not sure [SshSetupHandler.cpp](https://github.com/MisterTea/EternalTerminal/blob/26bfaf259215612bfad22e

[2018-09-05 01:26] tbodt commented on #106
@qolii I have my shell set to bash and this in my bashrc:

[code]

[2018-09-05 19:11] ailzhang commented on #133
Hi @aslpavel  the error message indicates you have an old client. Could you double check if you have an old ET install in your PATH?

[2018-09-05 19:13] ailzhang commented on #122
@20015jjw  Yea this is kinda expected since ET uses the content `echo`ed back from server side to do an "authentication".

[2018-09-05 19:14] ailzhang commented on #122
I will close this issue for now, please feel free to reopen if you have a use case where `echo` is necessary in `.bashrc`.

[2018-09-05 19:14] #122 closed

[2018-09-09 20:51] phiber1 commented on #106
% et alien
phiber@alien's password:
Unknown option: `-lc'
Usage: tcsh [ -bcdefilmnqstvVxX ] [ argument ... ].
Error starting ET process through ssh, please make sure your ssh works first

Not everyone uses the same shell, as illustrated several times.

[2018-09-12 08:33] paride commented on #106
For reference: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=865881#10.

[2018-09-13 11:53] jwoos commented on #133
I have the same issue. I'm running WSL client with Arch VM

client (WSL):
[code]

server (arch VM):
[code]

After going through the code I came to the conclusion that the issue resides in SshSetUpHandler

[2018-09-18 17:32] smgallo commented on #120
I'm running 5.1.0 client and server with an OSX client and Ubuntu 16.04 server and have been experiencing similar issues where there is a (possible several minute) lag between resuming my laptop and et reconnecting. Has this work been merged into 5.1.0 or is additional testing and troubleshooting required?

[code]

[2018-09-20 18:16] MisterTea commented on #106
Here is the code that runs server-side to establish the connection:

https://github.com/MisterTea/EternalTerminal/blob/master/src/terminal/SshSetupHandler.cpp#L26

If someone on this thread can change that logic to support fish, I would be more than happy to review a PR.

[2018-09-20 18:55] MisterTea commented on #106
Actually I may have a solution here: we do ssh -> (user shell) -> sh -> script.  This way the PATH and other environment is set correctly, but we do not depend on the user shell's interpreter.

[2018-09-20 18:55] MisterTea commented on #106
For example:

```ssh localhost "$SHELL -lic \" sh -c \\\" echo \\\$PATH \\\" \" "```

[2018-09-20 19:14] paride commented on #106
I don't think you can assume `-lic` are valid options for `$SHELL`. Personally I'd do whatever mosh is doing with its `--server=COMMAND` client side option.

[2018-09-20 19:29] phiber1 commented on #106
FWIW, the -l, -i, and -c options are standard and have the exact same
meaning across sh, csh, tcsh, ksh, bash, and zsh. Probably others.
But I agree, the server side should not be dependent on $SHELL.

-Mark

On Thu, Sep 20, 2018 at 12:14 PM, Paride Legovini <notifications@github.com>
wrote:

[2018-09-20 19:39] tbodt commented on #106
-l, -i, -c also work for fish.

[2018-09-20 19:51] MisterTea commented on #106
@paride That may work, but you would need to move all of the shell script logic into the binary first before you could support that.

[2018-09-20 20:05] paride commented on #106
The `-lic` options are pretty widespread but not ubiquitous, for example they are not supported by cicada (https://github.com/mitnk/cicada) and probably by ion (https://github.com/redox-os/ion, but I didn't check). I still think there should be no dependency on `$SHELL`.

What about falling back to a standard location if `etserver` is not found in `$PATH`, e.g. `~/bin/etserver`?

[2018-09-20 20:12] paride commented on #106
Or call `sh -lc`, which will read the `~/.profile` file, which is also read by bash and zsh.

[2018-09-20 20:14] ailzhang commented on #106
@paride When I tried `sh -lc` on mac, it doesn't trigger `/etc/profile`, while it does correctly on Linux. Do you know why it happens?

[2018-09-20 20:28] ailzhang commented on #106
@paride Yea that's basically the main blocker from using `sh` directly.
We will likely go with @MisterTea 's solution for now and come back when people really see problems with `lic`.

[2018-09-20 20:33] phiber1 commented on #106
Bear in mind that on csh/tcsh, there is no .profile file. All shells read
.cshrc, login shells in addition read .login, and the -l option forces
.login to be read.
Also, tcsh can use .tcshrc instead of .cshrc, so that csh and tcsh can
co-exist, as advanced tcsh commands in a .cshrc would otherwise give csh
errors.
But I digress.

-Mark

On Thu, Sep 20, 2018 at 1:12 PM, Paride Legovini <notificatio

[2018-09-20 20:40] paride commented on #106
I am not sure I understood why `export PATH` can't be used.

What about using `/usr/bin/env`? Something like: `env PATH=$PATH sh -c "..."`.

[2018-09-20 20:45] ailzhang commented on #106
I think `fish` doesn't support `export` iirc. Instead they use `set`.  @paride

[2018-09-20 20:47] paride commented on #106
@ailzhang `fish` does support `export` (but it's not only about `fish` here!).

[2018-09-20 20:48] phiber1 commented on #106
Also no such thing as "export" on csh/tcsh.
The equivalent is "setenv" for the global environment, and you don't use an
equal sign.
"set" is for local environment, and you *do* use an equals.

On Thu, Sep 20, 2018 at 1:45 PM, Ailing <notifications@github.com> wrote:

[2018-09-20 20:52] paride commented on #106
Then what remains is `env PATH=$PATH /bin/sh -c "..."` (were we assume: a `PATH` variable accessible as `$PATH`).

[2018-09-20 20:58] phiber1 commented on #106
Confirmed that works fine on csh/tcsh.

On Thu, Sep 20, 2018 at 1:52 PM, Paride Legovini <notifications@github.com>
wrote:

[2018-09-20 21:01] paride commented on #106
I retreat: `$PATH` in `fish` has a space as delimiter, so it is not compatible with `sh` :(

[2018-09-20 21:34] paride commented on #106
I guess this leaves us with `$SHELL -lic`, maybe `$SHELL -lc` could be enough and a bit more general. I would still prefer a hardcoded fallback path if `etserver` is not found, but this is just my opinion.

[2018-09-21 13:00] paride opened #135 "Please do not ship with a debian/ directory"
From https://wiki.debian.org/UpstreamGuide:

[2018-09-26 01:31] MisterTea commented on #132
I believe this is addressed, feel free to open otherwise.

[2018-09-26 01:31] #132 closed

[2018-09-26 01:32] MisterTea commented on #108
This should be fixed in 5.1.0: we added a delay.  Feel free to re-open if I'm wrong.

[2018-09-26 01:32] #108 closed

[2018-09-26 17:37] MisterTea commented on #106
https://github.com/MisterTea/EternalTerminal/tree/add_fish_support

This branch adds support for fish and should also support almost any shell.  It uses the idea mentioned on this thread to pass in the data through stdin.

Because this changes the protocol between client/server, both of them need to be running this branch for it to work.

Can someone with fish confirm that this works?

[2018-09-26 17:53] vvug opened #139 "Use a random TCP port"
It seems to me that `et` uses a static port by default (port 2022), meaning that two users using `et` on the same system will experience conflicts. I know it can be changed, but it is inconvenient. Please make the connection use a random ephemeral port in the range 49152–65535, see:

https://en.wikipedia.org/wiki/List_of_TCP_and_UDP_port_numbers#Dynamic,_private_or_ephemeral_ports

[2018-09-26 18:02] ailzhang commented on #139
@vvug Although etserver daemon (running by root user) is shared on port 2022. Different users have connect to the same port and their traffic are separate. We have been using it this way for a long time. What inconvenience did you see?

[2018-09-26 18:08] vvug commented on #139
@vvug the inconvenience is when `etserver` is *not* run by user root, and two users try to run their own `etserver`.

Moreover, isn't the documentation a bit confusing on this point? From the user manual (https://mistertea.github.io/EternalTerminal/usermanual/) and README.md it seems that it is sufficient to have etserver installed in order to be able to connect (like with mosh), while this is not

[2018-09-26 19:15] ailzhang commented on #139
Hi @vvug , I agree that the user manual should mention that service running is required. It's usually not a problem because when user install from apt-get/yum the service should be started automatically. @MisterTea  Maybe we can update the website?
In general etserver is designed to be started by root user, and the conflict between normal users should be gone.

[2018-09-26 19:40] paride commented on #106
@MisterTea I did test it very quickly and it seems to be working fine!

[2018-09-26 21:51] MisterTea commented on #106
Cool, I'll make a PR and it will go out in our next release

[2018-09-27 02:01] MisterTea commented on #106
https://github.com/MisterTea/EternalTerminal/pull/140

[2018-09-27 02:02] MisterTea commented on #139
@vvug Why would two users each run their own etserver?  If two users try to run their own sshd, the same problem will happen.

I'll update the documentation to be more clear.

[2018-09-27 02:04] #139 closed

[2018-09-27 02:10] #135 closed

[2018-09-28 16:59] qolii commented on #106
Also, FYI, this works great for me! Thanks for doing this!

[2018-09-28 17:15] qolii opened #141 "Documentation doesn't mention you need to run the server"
This may sound silly, but I got tripped up by it: at no point does the README say you need to actually run `etserver` on the server as/like a daemon, only that the binary needs to be present. The impression I got was that `et` connects via ssh, and then itself brings up a dedicated instance of the server at that time, and then hands the connection over to it.

Up to you, but I think it should be m

[2018-09-29 05:58] phiber1 commented on #106
This doesn't work with tcsh. For starters, the -l option can only be used
alone, with no other options, unfortunately.
The add_fish_support branch returns the following from etserver:
Unknown option: `-lc'
Usage: tcsh [ -bcdefilmnqstvVxX ] [ argument ... ].

-Mark

On Fri, Sep 28, 2018 at 9:59 AM, qolii <notifications@github.com> wrote:

[2018-09-29 06:00] MisterTea commented on #106
@phiber1 Are you sure you are using the right branch?  The -lc option is gone in the fish branch.

[2018-09-29 06:12] phiber1 commented on #106
Initially I had only updated the server side, and got that error on the
(original) client.

Just now I updated the client to also be the fish branch, but I get a
different error, right after typing my password:

Unmatched '"'.
Unmatched '"'.
Error starting ET process through ssh, please make sure your ssh works first

On Fri, Sep 28, 2018 at 11:00 PM, Jason Gauci <notifications@github.com>
wrote:

[2018-09-30 06:30] tbodt commented on #133
The AUR package for eternalterminal installs etserver as etterminal, which is broken.

[2018-09-30 16:03] MisterTea commented on #133
@tbodt Thanks!  That was the issue.  Fixed in arch package 5.1.0-2

[2018-09-30 16:03] #133 closed

[2018-09-30 16:37] MisterTea commented on #118
Closing since it isn't an issue, but feel free to submit a wiki/PR to add this info!

[2018-09-30 16:37] #118 closed

[2018-09-30 16:59] #125 closed

[2018-09-30 17:01] #141 closed

[2018-10-03 18:34] ailzhang opened #143 "Command line option to disable rate limit"
We used to enable rate limit to make ET more responsive to ctrl-c when accidentally cat a big file.

However this might slowdown other use cases so we should provide an option to disable it.

[2018-10-03 21:11] qolii opened #144 "Able to maintain open connections through a server restart?"
I might be missing a something about how to do this correctly, but, if I restart my `et.service`, it disconnects any connected clients. If I restart `sshd`, everything remains connected.

Does ET support this?

---

I am running with:

`et.service`:
[code]
and where `/nix/store/iy4p7k6vmrbyj3zlisr35sqkk651zf0q-et.cfg` has the same contents as the default config file. (Ignore the weird paths for ev

[2018-10-03 21:18] MisterTea commented on #144
Interesting, I never knew that about sshd.

If you shut down the et daemon, the connections die, so don't do that :-).

[2018-10-03 21:35] qolii commented on #144
Ha, right. I would guess its something to do with the forking behavior? As in, if the main server forks off a process for each new connection in such a way that they are no longer really its children, can the main server be shut down in a way that won't affect them?

For example, I notice in my `htop` that `etserver` spawns a new process for each connection, and all those processes are visually co

[2018-10-03 21:38] qolii commented on #144
More concretely:
[code]

You can (sorta) see I have one `et` session open and one `ssh` session open.

[2018-10-03 22:38] qolii commented on #144
Also, I suppose, [this](https://unix.stackexchange.com/a/27647).

[2018-10-04 01:49] MisterTea commented on #144
Gotcha.

Yeah, unless you really really need this feature, I would rather leave the server in charge of the connections.

[2018-10-04 13:09] smgallo opened #146 "ET loses connection to server and cannot reconnect"
I am experiencing an issue where ET will behave as expected much of the time throughout the day, but occasionally it is not able to successfully reconnect with the server after my laptop resumes from sleep or it simply loses the connection after sitting idle for some period of time. Other ET connections that use the same host sometimes may remain active while some fail. I have run ET with the --v=

[2018-10-04 19:32] MisterTea commented on #146
Hey!  Yep, this is high pri for me.  I created a set of tests for ET and ET isn't passing them yet :-).  Once ET passes them, the connection issues should be resolved.  You can follow here: https://github.com/MisterTea/EternalTerminal/pull/142

[2018-10-04 20:19] smgallo commented on #146
Great, let me know if there's any testing that you'd like me to do.

[2018-10-04 21:34] MisterTea commented on #146
Please try latest master (update both client and server) and see if the problem is fixed, thanks

[2018-10-05 12:43] pavel64-sutyrin commented on #72
Same issue here. `/.ssh/config` seems to be not picked up (I am interested in `ForwardAgent`). Pure `ssh` works, `et` does not work, with all the same actions.

[2018-10-15 07:07] NightMachinary opened #152 "[Feature Request] `-N` like ssh"
It's useful when I use `et` for port forwarding.

[2018-10-16 06:28] MisterTea commented on #146
Fixed in 5.1.6

[2018-10-16 06:28] #146 closed

[2018-10-16 06:29] MisterTea commented on #120
@smgallo This should be fixed in 5.1.5

[2018-10-16 06:31] MisterTea commented on #152
I don't understand what -N does.  The doc says "Do not execute a remote command", but how is that different from "ssh XXX.com"?  I guess you don't get a shell or something?  Do you use it like this:  "ssh -N XXX.com &" and this way you can keep using your original terminal for something else?

[2018-10-16 13:28] smgallo commented on #120
Thanks I will install and test it out!

[2018-10-17 11:10] NightMachinary commented on #152
You can use it like that, I just use it not to get a shell. This way I
don’t accidentally close an ssh tunnel that is doing port forwarding.

On Tue, Oct 16, 2018 at 10:01 AM Jason Gauci <notifications@github.com>
wrote:

[2018-10-17 16:55] qolii commented on #106
I... appear to be seeing this now, with the 5.1.6 release (on both server and client).
[code]
Is there a specific kind of log or data I can collect that might help?

[2018-10-17 17:12] MisterTea commented on #106
The fish changes are in the 6.0 branch so fish still won't work on 5.1.6, which is a patch release for the 5.0 branch.

[2018-10-17 17:14] qolii commented on #106
Ohh! Silly me :) Hopefully 6.0 can come soon!

[2018-10-17 17:14] qolii commented on #106
(And thanks for the quick update!)

[2018-10-22 16:48] technicalguy opened #155 "ssh ProxyCommand"
Can I use EternalTerminal with ssh's ProxyCommand to get

    localhost -> A -> B

where A is only running ssh and B is running ssh+et?

[2018-10-22 17:55] ailzhang commented on #155
No, A has to run ssh+et as well to get the connection back automatically.

[2018-10-28 12:25] vahron opened #156 "Installation on Ubuntu 18.04.1 LTS is broken"
Installation on Ubuntu 18.04.1 LTS is broken.
[code]

[2018-10-28 14:19] vahron commented on #156
was due to broken packages.

[2018-10-28 14:19] #156 closed

[2018-11-06 15:29] donifer commented on #41
I'm having the same issue, my `~/.ssh/config` looks like this:
[code]

However I can't clone my private repos when I use `et` (permission denied). But if I `ssh` I can clone without issues, looks like ssh agent is not forwarding. Do you guys have an idea of what am I missing?

Client
[code]

Server
[code]

[2018-11-12 01:30] Overload119 opened #157 "[cannot connect]"
I have 2 servers, et is working correctly on one but not the other.
I manually compiled on CentOS 7.

[code]

I see something similar to the above on both servers, yet on one of them I can still connect to etserver just fine.

[code]

This is the error message I see when I use `et -v 1 -logtostdout sapco`

On the server however, I'm able to see some sessions that seem to work.

![image](https://us

[2018-11-12 16:11] MisterTea commented on #157
It looks like you are doing the ssh handshake fine but the et connection can't be established.  You should check if you can telnet to port 2022 on the server.  Maybe the server has a firewall or there's a NAT blocking the connection?

[2018-11-13 19:00] froody opened #158 "Restoring tmux session takes too long"
Server: 5.1.8, centos-x86_64
Client: 5.1.8, MacOSX 10.14.1
See attached log file: [et-log.txt](https://github.com/MisterTea/EternalTerminal/files/2577611/et-log.txt)

Steps to reproduce
1) Launch iTerm2
2) % et centos-host:8080
3) % tmux -CC attach -d -t dev # existing session with several windows with a decent amount of history/scrollback

Even though there's a decent amount of bandwidth between

[2018-11-13 20:18] MisterTea commented on #158
Hey!  Hopefully you don't have to do this many times (the point of et is that you don't have to run et more than once).  Either way, the solution is to disable the rate-limiting (see #145 ).  But with this disabled, if you accidentally run a command that generates a ton of prints, you won't be able to easily ctrl+c to kill it.

Closing since there's a workaround, but feel free to comment if it's n

[2018-11-13 20:18] #158 closed

[2018-11-14 01:32] froody commented on #158
I do this a couple of times a day. I have two Macs (one desktop, one laptop) which I use to connect to a machine in a datacenter. I have an et session from each mac to the datacenter machine, but a single tmux session which I attach to, so even though I rarely run "et", I'm loading a large tmux session several times a day. I will try --noratelimit

[2018-11-16 03:58] Overload119 commented on #157
You were right! Thanks so much.

For anyone else who has the same issue: on the client I used:
`nc <myip> 2022`
This command never completed, whereas it did with another server I could access.

On the server:

[code]

[2018-11-16 03:58] #157 closed

[2018-12-01 19:50] bennytheshap opened #159 "Add armel build for stretch to deb repo"
Can you please create a build for debian jessie on armel? That'd be helpful to people running a variety of NASes.

Thank you!

[2018-12-02 07:15] MisterTea commented on #159
I added armel for stretch.  I can't add for jessie (it's too old).

[2018-12-02 07:15] #159 closed

[2018-12-06 02:26] ocavue opened #160 "Failed to start etserver.service: Unit etserver.service not found."
I can't connect to my server by et recently.  I tried to restart etserver but failed:

[code]

------

`/tmp/etserver_err` is empty and `/tmp/etserver.INFO` does not exit.

[2018-12-06 03:01] MisterTea commented on #160
The service is called "et"  ```sudo service et restart```

[2018-12-06 03:07] ocavue commented on #160
`et` does work! Thanks for your help.

[2018-12-06 03:07] #160 closed

[2018-12-13 18:10] phord commented on #139
Two users might run their own sshd if they do not have root access to install sshd to run as root.  This would be a nice feature of et, too, imho.

[2018-12-13 18:25] phord opened #161 "Documentation needs work"
A "what it does" page to tell users why they need this and what it does for them.  The one-line project description really isn't enough.

A "troubleshooting" page to help users through common issues.  Just copying the default "new issue" text would be a good start.

A "faq/features" page to tell people what et does and does not do; for example, are sessions encrypted using ssh or something proprie

[2018-12-29 02:27] hxrts opened #162 "apt-get ubuntu 18 not supported"
no apt-repository for latest ubuntu version

[2019-01-04 21:32] MisterTea commented on #161
@phord Please champion this?  Our site is accessible here: https://github.com/MisterTea/EternalTerminal/tree/gh-pages

I can fill in any details that you don't have if you put TODOs

[2019-01-04 21:34] MisterTea commented on #131
Dupes #101

[2019-01-04 21:34] #131 closed

[2019-01-05 15:03] hxrts commented on #162
Seems like cosmic is missing from the distro list when I go to http://ppa.launchpad.net/jgmath2000/et/ubuntu/dists/

[2019-01-05 22:08] MisterTea commented on #162
Oh, yeah I only run LTS. Can you use the bionic repo?

On Sat, Jan 5, 2019, 7:03 AM Sam Hart <notifications@github.com> wrote:

[2019-01-05 22:09] MisterTea commented on #162
Actually on second thought I'll just make a cosmic repo

On Sat, Jan 5, 2019, 2:08 PM Jason Gauci <jgmath2000@gmail.com> wrote:

[2019-01-08 01:00] MisterTea commented on #162
Done!

[2019-01-08 01:00] #162 closed

[2019-01-10 22:55] jonathanking commented on #90
Any updates on this issue? Thank you.

[2019-01-23 22:22] atrull opened #169 "Update FreeBSD to ET 5.1.9"
So I've got et server working. Client can connect. If the local network drops, and recovers to the same ip, the session recovers nicely. If I change wifi connection however, it fails on a key error.

[ auth is key-based, ssh works, mosh works.. mosh can successfully roam ip & recover. ]

Some Logs:

Server..

I0123 22:10:48.374042 12995072 UnixSocketHandler.cpp:382] Closing connection: 13
I0123 22

[2019-01-29 14:54] wilchak commented on #106
I am still experiencing this bug, even with a freshly compiled "add_fish_support" branch. When running et on the client, I get this:
`et myuser@myserver.com -logtostdout
fish: Expected end of the statement, but instead found a string
SERVER_TMP_DIR=${TMPDIR:-${TMP:-${TEMP:-/tmp}}};TMPFILE=$(mktemp $SERVER_TMP_DIR/et-server.XXXXXXXXXXXX);PASSKEY=YaS6o28jo1Mr2qiZsQ4uUeNo5Y0IfWO0;ID=0ej8lbInJA9h51Ma;

[2019-02-01 00:51] philCryoport commented on #124
@MisterTea Please re-open.  ~/.ssh/config file works great for ssh, but hangs for et
[code]
Help?

[2019-02-01 01:01] philCryoport commented on #124
Found in another ticket the command to get the debug on stdout.  Here's what I found:
[code]
...and then it just tries over and over and over again to connect

[2019-02-01 01:06] ailzhang commented on #124
@philCryoport Which port is your etserver running on the server? Is that port open?

[2019-02-01 01:56] philCryoport commented on #124
On the destination server "foo":
[code]
(I inserted the column headers manually.  Basically etserver is listening on port 18207)

[2019-02-01 02:12] ailzhang commented on #124
@philCryoport  In that case you need to specify a port when connectiong `et foo:18207`. As et defaults to port 2022.

[2019-02-01 18:09] philCryoport commented on #124
@ailzhang it's still complaining that the IdentityFile in ~/.ssh/config is unsupported by et:

[code]

Without that foo.pem file, one cannot connect using ssh to the EC2 instance to which I'm trying to connect.

Meanwhile, ssh has no complaints with the same ~/.ssh/config file

ssh does look for that filename -- and if it cannot find the file, it will error out:

[code]

The problem appears to be

[2019-02-19 13:40] Nindaleth opened #171 "et does not connect at all when SSH config contains 'Match original host somehost exec "..."'"
With the following settings in `~/.ssh/config`, `et` hangs and never connects (`ssh` connects correctly). Please mind, this will happen on a connection attempt to any host, not just when connecting to this specific host!

[code]
If this block is removed from `~/.ssh/config`, `et` starts connecting normally again.

**Environment:**

* client - Linux x86_64 - Fedora 29
* server - Linux x86_64 - RHEL

[2019-02-19 14:02] eberna opened #172 "compile on debian missing et.cfg and service"
after compiling from the source code i was't able to start the service because during the 'make install' the et.service and et.cfg were not installed in my running system. after copy the et.cfg to /etc and et.service in /etsc/systemd/system fixed the problem and i was able to start the server. is this a desired behavior or there is something missing in the install target?

[2019-02-20 02:27] MisterTea commented on #172
Most people use the debian package to install, and we use debhelper which copies et.cfg and et.service to the right place, so we don't have that in our cmake script.  Could you update the "build from source" instructions to add this point so other people aren't confused?

[2019-02-20 02:30] MisterTea commented on #171
Our ssh parser is not very sophisticated so it is probably bombing out on cases like this.  As part of v6 I'd like to make a way to connect with et that doesn't depend on ssh and that will be one solution, but in general I doubt we will have bandwidth to handle cases like this.

If you have roaming IPs like this, why not run your own dns server and assign hostnames based on mac addresses?

[2019-02-20 07:40] Nindaleth commented on #171
That could work. Unfortunately, the other usecase for this approach is when the client roams. In that case the rpi is reachable on a 192.168.x.y local IP in location A, while a dyndns hostname needs to be used if in location B. The dyndns hostname isn't reachable from location A for some reason (corporate network).

I don't really mind if I'm not able to connect to those few specific machines (if

[2019-02-20 15:31] eberna commented on #172
as you suggested i just sent a pull request with the changes, thank you.

[2019-02-22 20:17] atrull commented on #169
I can provide more logs.. if you want ?

[2019-02-23 04:33] MisterTea commented on #169
Hmm, it's saying that the terminal session ended, meaning that the client sent the kill message to the server.

I'll have to take a look at the kill logic next week to see how that could happen.

[2019-02-25 10:14] atrull commented on #169
Am I right in thinking roaming should work - i.e. change client IPs.. ?

[2019-02-25 18:38] MisterTea commented on #169
@atrull yep, the client should be able to change IPs without any issue.  What version of ET are you running on client and server (run et --version to check)?

[2019-02-25 18:41] telser commented on #169
@MisterTea This is probably on me. The FreeBSD port is pretty out of date. I'll make sure the latest release builds and update it tonight.

[2019-02-25 18:42] MisterTea commented on #169
@telser Oh, you are totally right.  I have a script that uses VMs to push the build to various OSes, I should probably add freebsd to that.  Can you point me to the build process?

[2019-02-26 02:22] MisterTea commented on #169
Wow, I spent a lot of time trying to get a freebsd virtualbox vm up and running and it's a PITA:

1. The system additions can't be built because dependencies are broken, so copy-paste doesn't work
2. I can move the mouse but can't click

Overall I find FreeBSD to be really frustrating and I don't see why anyone would use it?

[2019-02-26 02:43] telser commented on #169
I don't use it much for a desktop(primarily because getting some of my work software to run is difficult), rather mostly, as OP mentioned, on the server side. Further I haven't tried to setup a virtualbox (with any OS) with copy/paste in forever. Generally use ssh (or ET :stuck_out_tongue: ) to connect to my vms. It appears that the virtualbox-ose-additions should be available as a binary https://

[2019-02-26 07:42] vinyll commented on #156
Hey @vahron!
I have the exact same dependencies issues on a Debian Sid.
How did you fix the broken packages issue?

[2019-02-26 16:36] MisterTea commented on #169
@telser oh yeah, I guess I should have thought of using et instead of the vm directly :-P.

@atrull Can you try building latest master from source and swapping out your et, etserver, and etterminal binaries with the new ones?  That should fix your problem while we get the package up to date.

[2019-02-26 20:10] #172 closed

[2019-02-26 20:11] MisterTea commented on #171
Sure, glad you are using ET :-D

[2019-02-26 20:11] #171 closed

[2019-02-28 17:39] vext01 opened #175 "Can you use ET when you have only port 22 access?"
Hi,

I was wondering if it is possible to use ET when the remote server is behind a third-party controlled firewall allowing only port 22 in?

Thanks

[2019-03-01 00:29] MisterTea commented on #175
@vext01 No, you need some other port for et to run on.  In v6 we are planning on allowing et without ssh but for now that is a hard limitation.  Even with v6, people will need to load the keys with ssh (unless they want to use usb sticks).

[2019-03-01 00:29] #175 closed

[2019-03-01 10:40] vext01 commented on #175
Thanks. Sadly I'm in a scenario where the firewall is out of my control :(

[2019-03-09 20:57] telser commented on #169
@MisterTea @atrull The package has been updated for the current/latest package branch https://www.freshports.org/net/eternalterminal/ If you use the quarterly package branch, then that isn't updated until the beginning of April (the beginning of the quarter).

[2019-03-13 15:37] gvnirmal opened #176 "ET 5.1.9 issue with installation on RHEL7"
I am trying to install ET 5.1.9 on RHEL 7 machine. I am running into problems with the installation. Request your kind help on the below items:
1. libutempter source or tar.gz file or the source isn't available over the internet.
2. Error mentioned below
3. Is it really possible to install on RHEL7 machine? Please suggest.

I am pasting the error snippets:

-- Generating done
EternalTerminal-et-v5

[2019-03-14 15:02] #169 closed

[2019-03-14 15:03] MisterTea commented on #176
libutempter is an optional dependency.

Not sure about that error. Can you post the cmake log and also build with "make VERBOSE=1"

[2019-03-15 06:27] mdemoney commented on #106
I'm a tcsh user and would like to use ET, but am blocked by this bug.

I tried this experiment: /usr/bin/ssh somehost '/bin/sh -lc "FOO=bar /usr/bin/printenv"'

Interestingly, this works and prints my full tcsh path plus the added FOO value.  I do not have a .profile or .bash* on the remote machine.  I don't have any SendEnv commands in my ssh_config.

I realize that the ssh manpage says that comm

[2019-03-15 19:23] MisterTea commented on #106
@mdemoney The v6 branch should work with tsch?

[2019-03-15 19:23] MisterTea commented on #106
@mdemoney The v6 branch should work with tsch?

[2019-03-16 00:06] mdemoney commented on #106
Thanks, I'll definitely build that and give it a try on the hosts where I have root.
(A released fix is an easier sell to admins of hosts that I don't control. Hopefully, v6 will release soon.)

[2019-03-16 06:51] mdemoney commented on #106
Tried building v6, ran into this problem:
Scanning dependencies of target et-test
[ 92%] Building CXX object CMakeFiles/et-test.dir/test/BackedTest.cpp.o
In file included from /dbc/pa-dbc1112/mdemoney/src/et/EternalTerminal/test/BackedTest.cpp:1:0:
/dbc/pa-dbc1112/mdemoney/src/et/EternalTerminal/test/TestHeaders.hpp:5:28: fatal error: catch2/catch.hpp: No such file or directory
 #include "catch2/c

[2019-03-16 18:40] MisterTea commented on #106
Catch is a new git submodule in v6 so you need to pull it.

If you have 5.1.9 working, send us a PR!  The catch is that it can't break bash/zsh which are the two most popular shells.

[2019-03-18 02:30] MisterTea commented on #106
Actually I re-read your comment and that approach won't work for people who install et to a non-standard directory and needs to load their Shell's profile to get that path (this effects all OS/X servers).

Please try the v6 branch and make sure it works, thanks!

[2019-03-18 03:08] mdemoney commented on #106
Hi, thanks for the response.  I'll definitely give the v6 branch a try with tcsh.

FWIW: I realized that "ssh HOST '/bin/sh -lc ....' works for me (even on OS/X servers) because my shell rc files initialize the environment (if not already setup) even for non-login shells (precisely because I wanted "ssh HOST command" to work for commands in ~/bin).  Of course, that's not a solution for everyone.

[2019-03-21 20:17] joshuarubin commented on #59
This works great except that I have a `RemoteForward` option in my `~/.ssh/config` that causes a port conflict when I also use `et -rt`. Can you cause et to always disable the `RemoteForward` option when calling ssh? It doesn't seem like it should _ever_ be correct for it to be enabled in ssh when using et.

[2019-03-21 20:20] joshuarubin commented on #59
It would also be amazing to, in addition to the above comment, automatically parse the `RemoteForward` option that ssh would have used and apply it as an `et -rt` option.

[2019-03-22 17:13] joshim5 opened #177 "Cannot restart et in same terminal window"
When I log out of an et instance and then try to log in again in the same terminal window, the spacing does not look correct and I can't hit enter after hitting my yubikey. Backspaces get mapped to ^? and enter maps to ^M.

This does not occur if I open a new terminal window and try to open et there.

The only way to get out of this issue is to close the terminal window and open another one.

Note

[2019-03-22 18:37] joshim5 opened #178 "Heavy scrolling freezes et"
My sessions freeze when I scroll too quickly in tmux'd vim over et. I need to close tmux, force quit et, and then reconnect. In these cases, all tmux tabs in the et session will become inoperable. This issue does not exist on ssh.

Here is the tail of the log files created when this issue occurs.

[code]

[2019-03-28 20:01] XL64 opened #179 ""ssh machine" works but not "et machine", nor "et -v""
On MacOS X Mojave, I installed et with brew and started the service but cannot use et while ssh works.
et -v does not help either as the option is not recognized.

[code]

[2019-03-28 21:16] MisterTea commented on #179
This may be a client issue that's fixed in master.

Can you "brew install --HEAD et" and try again?

[2019-03-29 11:10] XL64 commented on #179
I get the same errors with the --HEAD installed (by the way brew unlink et was required to install --HEAD)

[2019-03-30 18:47] NicolasRouquette opened #180 "Installation instructions for CentOS7"
Building ET on CentOS7 is tricky.

First, the `cmake` utility is too old (2.8) so we have to install `cmake3` explicitly:

[code]

(found this tip here: https://www.heliocastro.info/?p=238#comment-5624)

Next, building failed:

[code]

Here's the error log:

[code]

[2019-03-30 21:32] MisterTea commented on #180
It looks like you are missing gflags and protobuf.  IIRC on centos the packages are google-gflags and protobuf-devel .  Please add to the README so future people know how to compile on centos

[2019-04-01 16:26] NicolasRouquette commented on #180
@MisterTea Can you please be more specific about what you're suggesting?

[2019-04-01 17:20] MisterTea commented on #180
[code]

Then rerun cmake.

[2019-04-01 21:03] NicolasRouquette commented on #180
Thanks, that worked.

Unfortunately, I can't use `et` because our CentOS-based VM is in the GovCloud where we have a mandatory banner on login; so all I get is:

[code]

[2019-04-01 21:05] MisterTea commented on #180
That's fixed in master.  What are you using for a client?  On mac, you can "brew install --HEAD et" to get master branch

[2019-04-01 21:10] NicolasRouquette commented on #180
I'm running on Ubuntu 18.04 LTS

I followed these instructions:

[code]

Should I use something else?

[2019-04-01 21:11] MisterTea commented on #180
Yep, you should build from source using latest master to support logins
with banners.

On Mon, Apr 1, 2019 at 2:10 PM Nicolas Rouquette <notifications@github.com>
wrote:

[2019-04-01 21:14] NicolasRouquette commented on #180
Argh... on ubuntu 18.04 LTS, I couldn't build:

[code]

then:

[code]

Then:

[code]

[2019-04-01 21:17] NicolasRouquette commented on #180
line 63 of `CMakeFiles/generated-code.dir/build.make` is the 2nd line below:

[code]

[2019-04-01 21:29] MisterTea commented on #180
"Protobuf compiler version doesn't match library version 3.0.0"

That sounds bad.  Can you run "ccmake ../" and see what the difference is between protobuf and protobuf compiler?

[2019-04-02 16:58] vincentschen commented on #179
Reproduced issues on macOS Sierra 10.12.6

[2019-04-02 19:04] MisterTea commented on #179
ET runs on port 2022.  Can you telnet on that port and see if it's open?

[2019-04-02 23:23] vincentschen commented on #179
It seems that the ports were open, but I needed to manually install `etserver` on the machines I wanted to `et` into. @MisterTea

[2019-04-02 23:24] MisterTea commented on #179
Ah, yeah that makes sense.  Please follow the instructions here to install: https://eternalterminal.dev/usermanual/

@XL64  let me know if the port is open in your case.

[2019-04-03 14:43] XL64 commented on #179
restarting the service helped
now I can `et localhost` but not` et mymachine`

[2019-04-09 20:07] philCryoport commented on #124
Ping?

[2019-04-10 01:28] MisterTea commented on #124
@philCryoport et reads your ssh config only to get the username and host alias so you don't have to "ssh me@foo.bar", you can "ssh foo".

When doing the ssh handshake, et calls ssh which will do a full read of the ssh config again and handle it correctly.  From the log you posted, the ssh part of ET is fine.  But the problem is that, after the ssh handshake, et can't connect to the et server (whic

[2019-04-10 14:11] TraceyC77 commented on #180
On a related note, the installation documentation on the main Download page https://eternalterminal.dev/download/ are out of date in respect to the instructions on https://github.com/MisterTea/EternalTerminal

[2019-04-10 14:26] TraceyC77 opened #182 "Unable to start et on CentOS 7 due to incorrect path in systemd unit file"
I am attempting to set up et on a CentOS 7 server and an Ubuntu laptop. The install for Ubuntu via PPA worked but the install for CentOS 7 did not. The core problem is the path to the executable in the included systemd unit file.

I had followed the instructions to build from source from the README here:
https://github.com/MisterTea/EternalTerminal

I also followed the steps for Debian for install

[2019-04-10 16:35] MisterTea commented on #182
Can you submit a PR to the readme or docs site explaining what you've done to help others?

Also, the reason why you can't connect even though ssh works is probably because you need to open port 2022

[2019-04-10 19:49] TraceyC77 commented on #182
I can work up a PR in the next day or two for the docs update, no problem.

After a little more digging, I found that the installer from the PPA on Ubuntu starts up etserver but the install from source on CentOS 7 does not. Therefore, the service is not listening on CentOS 7. Restarting the service didn't do anything.

**In Ubuntu:**
[code]

**In CentOS 7**
[code]

journalctl wasn't that helpful b

[2019-04-19 09:03] vegesm opened #184 "git clone crashes"
Git clone fails when running from et:
[code]
The same witpid error is raised when trying to commit. Using normal ssh, everything work fine. My et version is 5.1.9

[2019-04-20 02:03] TraceyC77 commented on #182
Done, here is the PR
https://github.com/MisterTea/EternalTerminal/pull/185

For the "Download ET" web page, I really recommend either just linking to the README rather than the current download instructions page, or making an include for the README on the download page. This would prevent having two places to update documentation, and having them get out of sync.

[2019-04-22 18:14] MisterTea commented on #184
Hmm, I git clone all the time and haven't seen this.  What OS are you running on the server?

[2019-04-22 18:36] MisterTea commented on #180
@NicolasRouquette were you able to get the protobuf issue resolved?  It looks like compiling in centos works

[2019-04-22 18:37] MisterTea commented on #179
@XL64 any update?

[2019-04-22 18:37] MisterTea commented on #178
@joshim5 what version? This should be fixed in 5.1.9

[2019-04-22 18:38] MisterTea commented on #177
@ailzhang does ET exit cleanly when using a jumphost?

[2019-04-22 18:38] #176 closed

[2019-04-22 18:39] MisterTea commented on #124
@philCryoport any update?

[2019-04-22 18:40] ailzhang commented on #177
@MisterTea  Yea at least it's clean for me. @joshim5 feel free to block some time on my calendar next time you see it happens. I can take a look.

[2019-04-22 18:54] joshim5 commented on #178
This is et 5.1.9 and I still experience the error.

[2019-04-22 18:55] joshim5 commented on #177
@ailzhang I can reliably reproduce this, so happy to show you anytime.

[2019-04-22 20:31] vegesm commented on #184
It's ubuntu 16.04, kernel: 4.4.0-141-generic

[2019-04-22 22:28] MisterTea commented on #184
Is this a home machine or are you using a public cloud?  It sounds like some SELinux restrictions

[2019-04-22 22:29] MisterTea commented on #178
Oh, I just realized that you are using the jumphost.  The issue is only fixed in master for jumphosts, but @ailzhang and I are trying to figure out how to test a 5.1.10

[2019-04-23 07:46] XL64 commented on #179
I didn't tried to start the server on the remote machine, but I think I just needed to do that...
You can remove this issue.

[2019-04-23 07:47] #179 closed

[2019-04-24 20:27] vegesm commented on #184
It is a workplace computer, SElinux is turned off but I run etserver in user space.

I did a bit of digging around and it seems the main culprit is that ET somehow disables SIGCHLD. When running trap in et:
[code]
In ssh:
[code]

According to strace git uses clone and wait4 to fork a subprocess and wait for it to finish. If the SIGCHLD handler is set to ignore then wait4 reports ECHILD ([link](htt

[2019-04-24 22:53] MisterTea commented on #184
etserver should run in root mode.

[2019-04-25 10:03] vegesm commented on #184
Tried it with sudo, no change. I'm not sure etserver has anything to do with this as the remote shell is started by etterminal which in turn is started by the local client through ssh.

Anyway, I created a workaround by calling the above C program with bash in .profile.

[2019-04-28 19:17] justasmalinauskas opened #186 "PPA for Ubuntu 19.04"
Hello, there is in plans to have ET build for Ubuntu 19.04 (Disco Dingo)? Thanks!

[2019-04-29 18:03] MisterTea commented on #186
Sure, I can add that version to the ppa

On Sun, Apr 28, 2019, 12:17 PM Justas Malinauskas <notifications@github.com>
wrote:

[2019-05-06 20:25] michaelaye opened #187 "Need more docs to create issue"
Installed via homebrew.
The issue requirements mention to use -v flag, but it needs options. but there's no man file and no help option either:

[code]

So, not sure what to do...

[2019-05-06 23:27] MisterTea commented on #187
Fixed the issue template https://github.com/MisterTea/EternalTerminal/commit/ee1514c27a45bd146e41d72e71431896eaf1cc3e

[2019-05-06 23:27] #187 closed

[2019-05-08 03:00] MisterTea commented on #186
Added

[2019-05-08 03:00] #186 closed

[2019-05-11 15:50] justasmalinauskas commented on #186
Thank you! :+1:

[2019-05-14 15:46] salemhilal commented on #180
For what it's worth, the installation instructions now in the README were enough for me to get the service running on CentOS 7. My local client (mac osx) hangs still when trying to connect (in a hard, non-killzble way), and I'm not sure if that's related or not.

[2019-05-15 09:31] demyxco opened #188 "Installation instructions for Alpine Linux"
Hello I've read #180 and tried to use the same libs in a Docker build but it just fails at 64%.

[code]

DOCKER RUN
[code]
Can't seem to figure out what the error means, any help is appreciated! Thanks!

[2019-05-15 16:56] MisterTea commented on #188
It looks like crash logs are not supported on Alpine. You can turn off the
easy logging crash log compiler definition in CMakelists.txt

On Wed, May 15, 2019, 2:31 AM Cim <notifications@github.com> wrote:

[2019-05-15 22:58] demyxco commented on #188
Remove line 114?
[code]

[2019-05-15 22:59] MisterTea commented on #188
No, remove this "-DELPP_FEATURE_CRASH_LOG"

[2019-05-15 23:08] demyxco commented on #188
Thanks that did it. Seems like it fails to run when the build dependencies are deleted.

[2019-05-16 00:49] MisterTea commented on #188
Is there a way to detect alpine linux in cmake?  If so, we could make that
fix permanent.

On Wed, May 15, 2019 at 4:09 PM Cim <notifications@github.com> wrote:

[2019-05-16 01:33] demyxco commented on #188
This seems to work for me, others can chime in and do some testing.

[code]

[2019-05-18 07:50] demyxco commented on #188
Is there anything else I'm missing? Et just won't connect via Docker container. I can ssh just fine into it but not et. I've started the etserver in the container using --daemon flag. Is there something else I'm missing to start up?

Executed script on container up
[code]

Docker command
[code]

This is a fresh install of Alpine Linux as the host OS so there's no firewalls. I've tried even using t

[2019-05-18 14:10] MisterTea commented on #188
What do the et logs in /tmp say?  You may need to run in verbose mode.

[2019-05-19 00:34] demyxco commented on #188
Keeps saying the same thing:

[code]

Log from macOS
[code]

[2019-05-19 04:25] MisterTea commented on #188
can you telnet to that machine on port 2022?

[2019-05-19 04:27] demyxco commented on #188
Yes, it shows connected.

[2019-05-19 04:55] MisterTea commented on #188
Hmm, can you try running latest master on client?

brew install --HEAD et

[2019-05-19 05:34] MisterTea commented on #188
Also turn on verbose logging on the server in /etc/et.cfg

This will generate many files in /tmp/et*  Please look at all of them to find a meaningful error that we can work with.

[2019-05-19 05:34] MisterTea commented on #188
Note that you will need to restart the et service after changing et.cfg

[2019-05-19 19:15] Phelerox commented on #184
I also have this issue. At first I didn't imagine et could be the culprit but I tried over SSH instead which worked, and the issue resurfaced when I switched back to et.

Maybe you can find some clues on how to fix it by looking at how tmux fixed a similar issue in the past: https://github.com/tmux/tmux/issues/1007

[2019-05-20 06:33] demyxco commented on #188
Server starts fine, just won't connect. I could use et client from container to connect to a different (Ubuntu) machine but not from my MacBook to container. I also tried connecting from my Manjaro box to the container, no luck.

### htop
<img src="https://i.imgur.com/5dZ4m7T.png" />

### et.cfg
[code]

### Log
[code]

### ls -al /tmp
[code]

### ls -al /usr/local/bin
[code]

Not much logs are gen

[2019-05-20 08:40] demyxco commented on #188
I'm getting close, et is trying to connect to the host OS instead of the container.

[code]

[2019-05-20 10:47] demyxco commented on #188
et demyx@domain.tld -logtostdout true -jumphost domain.tld
[code]

[2019-05-28 05:12] demyxco commented on #188
I finally got it! The key was to create an ssh alias `~/.ssh/config` on the local computer (my MacBook for example).

[code]

[code]

[code]

[2019-05-29 01:52] oqsh commented on #12
Thanks! I just have the same problem, and your solution worked. It's a namspace problem.
I think it is because when I install the gflags, I use the command "cmake -DCMAKE_INSTALL_PREFIX=/usr/local -DBUILD_SHARED_LIBS=ON -DGFLAGS_NAMESPACE=google ../", and you can see the sentence "NAMESPACE=google". So when I use the function xxx in glags, I should use the namespace "google", such as the funtion "

[2019-06-01 19:37] mblais opened #189 "ET client Cygwin compatibility?"
Can the ET client be made to work in Cygwin?

[2019-06-02 02:41] MisterTea commented on #189
Yep, it should work fine on cygwin, but why use cygwin instead of windows4linux?  You can run ubuntu on windows directly now.

[2019-06-02 18:48] chriseomi commented on #106
[code]

Just installed ET. Not working for me and getting error `Error starting ET process through ssh, please make sure your ssh works first`. No idea about any of this. Using iTerm on latest macos.

My ssh works just fine, but is aliased in bash.  `ssh is aliased to `ssh -F ~/.ssh/config -i ~/.ssh/id_ed25519 -o UserKnownHostsFile=~/.ssh/known_hosts '`

Not sure if that affects it anything.

[2019-06-02 20:09] MisterTea commented on #106
@chriseomi Is the et server running?

[2019-06-02 20:44] chriseomi commented on #106
@MisterTea yup. Also I removed known_hosts, and see it gave me the usual SSH warning about fingerprints.  IOW, it's definitely invoking SSH.

Couldn't see an obvious way to do verbose logging to help diagnose

[2019-06-03 17:18] kverb opened #190 ""session terminated" on first re-connect when using reverse tunnel"
After I manually disconnect from my remote session (`exit` or `Ctrl-d`),  I experience a 'session terminated' when I reconnect to the same server. Retrying the ET command works the 2nd time, always. Our servers have a 2fac prompt for each SSH session, and the 'session terminated' happens after what I assume is a successful SSH connection.

I'm using et version 5.1.9 on both client (mac OS 10.14.5)

[2019-06-08 21:49] mblais commented on #189
Turned out to be too much work to build under Cygwin, so I installed WSL...
which was also too much work, but at least it's working now :-)

[2019-06-08 21:49] #189 closed

[2019-06-08 21:58] mblais opened #191 "Something is different....?"
When I connect to my remote machine using `et`, something is different, and I'm trying to figure out what:

* On connect, I don't see the MOTD banner I usually see when connecting via `mosh` or `ssh`.
* `ls` no longer outputs color (even with `--color=always`), but other apps (like `zsh`) still do.

Help?

[2019-06-10 14:02] albellows commented on #190
I have this same issue - same forwarded port, even.  A fellow follower of (@)wincent, I take it? :)
To add to the cited log output - these are the corresponding logs on the server side:
[code]

[2019-06-26 03:50] MakeItGreatAgain opened #192 "etserver uses huge amounts of memory during port forwarding tests"
Scenario: Doing a throughput test over port forwarding. For the testbed I'm using a Raspberry Pi Model 3B running Debian buster.

Freshly started etserver uses 73,664K/4,380K (VSZ/RSS).

First I start the sender:
`cat /dev/zero | nc -k -l 2023`

Then I start the `et` client:
`et -host localhost -port 2022 -noratelimit -t 18000:2023 -x -c "sleep infinity"`

etserver memory usage: 83,908K/4,380K

Ne

[2019-06-26 20:16] ivenkrish opened #193 "Installing on GNU/Linux"
I've installed et on my Mac(client), no issues. Been trying to install it on my GNU/Linux server machine where I don't have root privileges.

First off, I can't do yum install for any of the required dependencies because I don't have root permissions. I tried to manually compile cmake, protobuf etc and  and it has been a pain in the ass. I'm blocked since I don't have the specific required gcc 4.8

[2019-06-28 02:57] RichardScothern opened #194 "feature request: pre-session setup"
It would be very useful to be able to configure et to perform configurable pre-session setup.  A number of reasons for this:
 - The et session establishment does not use an interactive SSH session, and therefore does not invoke `/etc/profile{.d}`
 - The ssh agent is not available during PAM session setup.  There are use cases for the SSH agent to be used during session setup.

My proposal is to ad

[2019-06-28 18:25] MisterTea commented on #192
@MakeItGreatAgain Makes sense: I haven't stress tested ET since most people don't push the limits there, but I can explain what's going on:

The transfer speed is erratic because we have a delay to prevent spam.  The delay is supposed to allow you to ctrl-c even if you run a command that produces a bunch of spam, but I haven't finished it 100% so the delay is strictly negative.  The delay is contr

[2019-07-02 16:56] joshuarubin commented on #190
I'm having the same issue. Though I don't usually use the `-x` flag (maybe I should). I generally have to restart the et server to fix the issue.

Also, if I'm first connected via ssh with `RemoteForward` of the same port, then trying to connect with `et -rt ...` also dies and I have to restart the et server, log out of ssh, kill the `ControlMaster`, connect with `et -rt ...` and then connect agai

[2019-07-10 18:44] yafz opened #195 "When relay and dest have different usernames"
Hi guys.
I wrote in my ssh config like this:

I could et into relay and ssh into relay & dest, but when I try to et into dest, eternal terminal prompts me to enter the password of 'destUser@relayUser@relayIP' like this 'destUser@relayUser@x.x.x.x's password:'. Does that mean et cannot handle proxyjump well, or I am just being stupid?

Please help, thanks.

[2019-07-10 19:29] MisterTea commented on #191
Hmm, it may be because we are running different setup. What she'll are you using?

[2019-07-10 19:38] mblais commented on #191
The `et` server is on a LightSail (AWS) Bitnami Wordpress stack (Ubuntu 16.04.6 LTS).
The `et` client is on Ubuntu 16.04.6 LTS under Windows 10 (WSL).

[2019-07-10 20:19] ailzhang commented on #90
Note to self: need to port a few more functions from https://github.com/blinksh/libssh/blob/runloop/src/config.c.

[2019-07-11 17:45] MisterTea commented on #191
@mblais are you running bash?  zsh?

[2019-07-11 18:28] mblais commented on #191
zsh on both ends.

[2019-07-18 11:57] grakkpl opened #197 "SSH config "Include" path needs to be absolute path"
ET does parse the "Include" parameter from ssh config file but it assumes it is an absolute path, and SSH supports both - absolute and relative paths.

Working example:
[code]

Invalid example:
[code]

Both work through SSH, ET reports this:
`Error starting ET process through ssh, please make sure your ssh works first`

[2019-07-18 12:02] grakkpl opened #198 "ET support for config file"
ET has some specific options which are not overlapping with SSH (like `-jport`, -x` etc.). It would be great if those could be pulled from a configuration file just like SSH does it (not the same file SSH uses though), so users don't need to create aliases. It would definitely improve tool automation and make the configuration deployment easier.

[2019-07-19 22:43] ailzhang commented on #193
You can copy binaries over and that's not a problem, but `etserver` on server side requires sudo access to start, so it might not work without sudo.

[2019-07-22 14:51] jab opened #204 "document IdentityFile support (or lack thereof)"
I just freshly brew installed `et`, tried `man et` (which failed), and then ran `et --help`. I'm looking for how to pass an IdentityFile (the equivalent of ssh's `-i` option). I see nothing about this in the help output:
[code]

[2019-07-22 14:55] jab commented on #204
Aha. I tried adding a `Host` alias for the server I want to use `et` with in my `~/.ssh/config` and added an `IdentityFile` there. Now `et -logtostdout foo` logs several "unsupported config line" messages for my ssh config, including for the `IdentityFile` lines. I guess this is not currently supported. Is support planned?

[2019-07-22 17:20] ailzhang commented on #204
@jab IdentityFile is only used in initial ssh connection and et doesn't have to know about IdentityFile. So if you set it in `.ssh/config` it should just work. ;)

[2019-07-22 17:43] jab commented on #204
Thanks @ailzhang, but (as I should have made clearer) I already tried that and it doesn't just work:
[code]

[2019-07-22 19:21] MisterTea commented on #204
@jab fish shell only works in ET version 6.  The master branch doesn't support fish.

[2019-07-23 14:26] jab commented on #204
Thanks for the info @MisterTea!
1. When I try with bash, it also does not work:
[code]
The IP address logged is the correct one specified in my ssh config for host "foo", and again, "ssh foo" works fine, so the "no host found" does not make sense.  Any ideas?

2. In versions of ET that do not support fish, ET should detect when the user is running fish, and fail immediately with an error like "ET

[2019-07-26 11:49] geoff-codes opened #208 "et cannot find etterminal in nonstandard path"
So firstly, with the present revision/v6:
[code]
...is an error. I believe the syntax is `-v 9`? 😜

Anyway Some alternative titles for this issue might be, "support running et in user mode", or, "reduce/eliminate reliance on ssh configurations". You see, I have a custom homebrew installation (not located in `/usr/local`). And while I do have `sshd` running all the time, I also try to keep my ssh c

[2019-07-29 15:23] MisterTea commented on #208
Hey @geoff-codes!

This is why we use an interactive ssh login.  You should be able to put the path to etterminal in your .bash_profile/.zshenv so that the ssh command can find it.

Unfortunately, which startup files run when you login is quite a mess: https://medium.com/@rajsek/zsh-bash-startup-files-loading-order-bashrc-zshrc-etc-e30045652f2e

But putting the path in the appropriate startup scri

[2019-07-29 15:23] #208 closed

[2019-07-29 17:10] MisterTea commented on #194
Hey @RichardScothern !  Actually et does use an interactive ssh session by passing the -l switch, so it should invoke those scripts.

Can you explain the second point more or give a reference?

[2019-07-29 17:27] MisterTea commented on #195
IIRC et's ssh config parser cannot handle the ProxyJump command.  @ailzhang  can you confirm?

@yafz if you would like to add this feature, we always welcome PRs :-D

[2019-07-30 07:17] dandv opened #210 "Unable to start etserver on Ubuntu after building from source"
The issue is similar to #182. Even after modifying `et.service` to point to `/usr/local/bin/etserver` instead of `/usr/bin/etserver`, the process exits immediately with exit code 0:

[code]

Running `/usr/local/bin/etserver --daemon --cfgfile=/etc/et.cfg` manually works - it leaves the daemon running.

[2019-07-31 02:53] dandv opened #211 "Super weird behavior when connecting via etserver vs. ssh"
Any idea how come that the same commands run over an `et` connection behave differently vs. when they're run over a regular ssh shell connection?

1. [`crontab -e`](https://unix.stackexchange.com/questions/533012/crontab-waitpid-failed-waiting-for-pid-xxx-from-usr-bin-sensible-editor-n) produces an infinite loop of "crontab: waitpid() failed waiting for PID 3910 from "/usr/bin/sensible-editor": No

[2019-07-31 02:54] dandv commented on #191
See also #211.

[2019-07-31 16:26] MisterTea commented on #211
Hey @dandv !  Can you run the "env" command on ssh and et sessions to see if there are any differences?  Once we see differences, then we can grep for them on your computer to figure out what setup ET is missing.

[2019-08-01 05:33] dandv commented on #211
Duh, should've thought of that :)

Here's the diff (all other vars are the same):

![image](https://user-images.githubusercontent.com/33569/62268005-f5933180-b3f3-11e9-851a-a128f26fbdd7.png)

[2019-08-01 23:45] MisterTea commented on #211
Hmm, those envars shouldn't cause the errors you are seeing?

You probably want to log in as a user and then "sudo su -" to get root.  Logging in as root can likely have issues.

[2019-08-05 01:17] demyxco commented on #188
Hi, I'm having compiling issues again. Not sure what you changed but a file is missing:

[code]

I am compiling this for Docker so nothing has changed in my Dockerfile, except version changes for Alpine Linux. Every time I build this image, it would git clone a fresh copy of your repo.

[2019-08-06 22:41] jshort commented on #210
This is fixed by #209

[2019-08-07 04:34] MisterTea commented on #211
Hey, actually this was a recent bug that should be fixed in https://github.com/MisterTea/EternalTerminal/commit/f7eb93b902e3662c647e1960e3bb57c423bff568 .  Please update to latest master and confirm.

[2019-08-07 05:52] dandv opened #214 "Duplicate instructions to build from source"
Looks like the README needs a do-over re. the build instructions. (I contributed to the duplication myself with #203). There are separate build instructions or a few Linux variants, then one separate section for Debian/Ubuntu/CentOS at https://github.com/MisterTea/EternalTerminal#debianubuntucentos

[2019-08-07 05:54] dandv commented on #211
Thanks for the fix! I tried building from source again the same way I documented in #203 but I ran into a missing file problem (`cxxopts.hpp`):

[code]

Related to f601aab21165de0d05c797d67603924eb4c797f5 ?

[2019-08-07 17:40] jshort commented on #211
@dandv did you do a recursive pull for git submodules?

[2019-08-07 20:21] dandv commented on #210
Thanks! I've just tried the fix by cloning the repo and building, but I'm not completely sure what the steps are after `sudo make install`. I went ahead [per the README](https://github.com/MisterTea/EternalTerminal#debianubuntucentos) with

[code]

but the `start` fails with

[code]

`journalctl -xe` only shows a ssh disconnect message.

[2019-08-07 20:25] dandv commented on #211
Just did that now (see #214 for why I didn't do that before). The build and `sudo make install` completed successfully, but I'm [not sure how to start the service](https://github.com/MisterTea/EternalTerminal/issues/210#issuecomment-519254185).

I launched the daemon with `/usr/local/bin/etserver --daemon --cfgfile=/etc/et.cfg` (and `ps` shows it running) but when trying to connect to the host, no

[2019-08-08 01:30] jeffgoh opened #216 "etserver exits with no error during systemd startup on Fedora 30"
Both systems are on et-5.1.10 - et-5.1.10-1.fc29.src.rpm vs et-5.1.10-1.fc30.src.rpm

but,

On Fedora 30:
● et.service - Eternal Terminal
   Loaded: loaded (/usr/lib/systemd/system/et.service; enabled; vendor preset: disabled)
   Active: inactive (dead) since Thu 2019-08-08 09:23:01 +08; 2s ago
  Process: 30637 ExecStart=/usr/bin/etserver --daemon --cfgfile=/etc/et.cfg (code=exited, status=0/SUCCE

[2019-08-08 12:25] MisterTea commented on #216
Please enable verbose logging by editing /etc/et.cfg and then paste the contents of /tmp/etserver* here

[2019-08-13 04:27] MisterTea commented on #211
@dandv it is "--verbose" now, "--v" doesn't work because cxxopt doesn't support single letter longhand parameters.

[2019-08-13 04:27] MisterTea commented on #211
@dandv probably this error is because your client is not up to date.

[2019-08-13 06:36] dandv commented on #211
That was it, thanks!

[2019-08-13 06:36] #211 closed

[2019-08-15 02:43] dandv opened #219 "Describe the installed binaries"
Would be nice to describe in the README what the installed binaries do:

[code]

[2019-08-16 00:12] MisterTea commented on #216
@jeffgoh This should be fixed in et 6, but you will need to build from source and copy the binaries & new et.service file manually as there isn't a package yet

[2019-08-16 00:12] MisterTea commented on #210
@dandv the et.service file itself has changed in et6, did you update that?

[2019-08-16 00:13] MisterTea commented on #184
This should be fixed in et 6.  Please re-open if it isn't.

[2019-08-16 00:13] #184 closed

[2019-08-16 00:14] MisterTea commented on #191
@mblais Is this still an issue with latest master?

[2019-08-16 00:17] mblais commented on #191
It may be a while before I can answer that, as I don't currently have access to the machine I was using - but I'll star your question and reply at my next opportunity.

[2019-08-17 14:54] MisterTea commented on #204
@jab Can you try with ET6?  There are better connect error messages in 6.

[2019-08-19 21:52] demyxco commented on #188
Successfully compiled by adding this flag to git clone:
[code]
I had a custom CMakeLists.txt for a while but decided to do a sed replace on it to make it compile for Alpine:
[code]

[2019-08-19 21:52] #188 closed

[2019-08-20 13:59] jab commented on #204
Thanks @MisterTea, I'd be happy to, but I think you need to update the homebrew formula first?
[code]

[2019-08-20 17:40] MisterTea commented on #204
Et6 is in beta. To install: brew install --HEAD et

On Tue, Aug 20, 2019, 6:59 AM Joshua Bronson <notifications@github.com>
wrote:

[2019-08-20 20:30] jab commented on #204
[code]

[2019-08-21 20:17] tsoernes opened #222 "Reconnect to session after killing client"
Is this possible?
Say that you kill an `et` session on the client side. Can you reconnect to the same 'session' on the server?

[2019-08-22 14:19] MisterTea commented on #222
No this isn't possible, but you can use tmux or screen to detach your session from et.

[2019-08-22 18:43] tsoernes commented on #222
Can I make a feature request for that? tmux and screen are inconvenient wrt. scrolling etc

[2019-08-22 22:07] MichaelBuckley opened #224 "Unable to compile on Mac because it lacks libutemper"
Hi,

The CMakeLists.txt file was recently updated to search for the UTemper library. This library does not exist on Mac, and isn't available in the homebrew package manager.

The call to `find_package` is directly outside of an `if(LINUX)` check. I could fix the issue by moving the `find_package` call into the `if(LINUX)` block, but I'm not sure if compiling with the library is intended for other

[2019-08-22 22:49] mblais commented on #191
I am having problems with the build...
`CMake Error at CMakeLists.txt:138 (add_sanitizers):
  Unknown CMake command "add_sanitizers".`
WSL Ubuntu 18.04.2 LTS

[2019-08-23 00:59] MisterTea commented on #191
We recently added a submodules. You need to "git submodules update --init"

[2019-08-23 01:01] MisterTea commented on #224
We have been looking for utempter for a year now. It isn't a required package so not having it is fine. You are probably hitting another cmake error.

[2019-08-23 01:02] MisterTea commented on #222
Use tmux control center (OSX) or HTM (other OSes) to get native scroll back.

Making the et client survive being killed would be very difficult.

[2019-08-23 01:04] mblais commented on #191
I'm missing stuff... not sure how to fix it:

`In file included from /home/matt/EternalTerminal/src/base/BackedReader.hpp:4:0,
                 from /home/matt/EternalTerminal/src/base/BackedReader.cpp:1:
/home/matt/EternalTerminal/src/base/Headers.hpp:67:10: fatal error: ThreadPool.h: No such file or directory`

[2019-08-23 01:51] MisterTea commented on #191
That's also in a new submodule. Maybe just re-clone from scratch?

[2019-08-23 06:47] dandv opened #225 "Question: kill or reconnect to orphaned sessions"
Scenario: while my laptop has a few et connections to a remote machine, it reboots. Is there a way to reconnect to those sessions, or kill them all at once?

What I do now is look through the process tree with `htop` and kill them manually.

[2019-08-23 07:05] mblais commented on #191
ET built successfully, but now I'm getting:
`Error starting ET process through ssh, please make sure your ssh works first`
(yes, my `ssh` is working)

[2019-08-23 07:58] MisterTea commented on #191
Hmm, I'll need more info to debug that. Can you turn on verbose mode on client & server and collect some logs?

[2019-08-23 07:59] MisterTea commented on #225
If you use tmux control mode or HTM to multiplex a single connection into multiple shells, then you can use the "-x" switch to automatically kill the past session when you reconnect

[2019-08-23 15:03] mblais commented on #191
Trouble building from source on the server (Ubuntu 16.04.6 LTS) --

[code]

[2019-08-23 16:41] MichaelBuckley commented on #224
You're right. This was definitely a case of PEBKAC. My script to build for multiple platforms was parsing the output from that command incorrectly. Sorry for the noise.

[2019-08-23 16:41] #224 closed

[2019-08-24 04:08] MisterTea commented on #191
This means that the machine you are trying to compile for doesn't have enough ram to compile the program. Is this a micro VM or something?

[2019-08-24 05:18] mblais commented on #191
Yeah it's a 512MB LightSail VM (AWS) running Bitnami WordPress. I may upgrade it and try the build again (or I suppose I could just stop the server processes).

[2019-08-24 06:00] mblais commented on #191
Successfully built `et` on the server, did `make install`, copied the config files, etc.
But:
` et.service: Failed at step EXEC spawning /usr/bin/etserver: No such file or directory`

It's in `/usr/local/bin` instead.
??

[2019-08-24 14:51] MisterTea commented on #191
You need to run make install as sudo for it to install to /usr/bin

[2019-08-24 15:02] mblais commented on #191
I did use sudo, but still it goes into /usr/local/bin:

[code]

[2019-09-01 09:24] MisterTea commented on #41
Adding agent forwarding here: https://github.com/MisterTea/EternalTerminal/pull/226

[2019-09-05 15:51] frederickjh commented on #59
@joshuarubin I think you should start a new issue for the ssh `RemoteForward` conflict as this one has been closed and I think it is important that this get corrected.

[2019-09-05 17:02] frederickjh opened #227 "Ubuntu PPA - arm64 packages"
Hi!
Trying to install on a Raspberry Pi 3 B+ which is arm64 architecture. Currently there does not appear to be a package for arm64 as the ´Packages.gz´ and the ´Packages.xz´ files in the PPA repository are empty.

Is it possible to create packages for arm64 for the PPA?

Thanks for considering this!
Frederick

[2019-09-05 19:03] joshuarubin opened #228 "RemoteForward Issues"
A few issues related to `RemoteForward`:

1. I have a `RemoteForward` option in my `~/.ssh/config` that causes a port conflict when I also use `et -rt`. Can you cause et to always disable the `RemoteForward` option when calling ssh? It doesn't seem like it should _ever_ be correct for it to be enabled in ssh when using et.
2. It would also be amazing to, in addition to the above comment, automatic

[2019-09-05 19:04] joshuarubin commented on #59
https://github.com/MisterTea/EternalTerminal/issues/228

[2019-09-05 20:09] frederickjh commented on #227
I forgot to say that mosh was installable on the arm64 architecture as packages exist for it in the Ubuntu repositories.

[2019-09-08 14:13] divinity76 opened #229 "compile on Cygwin?"
is it possible to compile on cygwin? when trying, i get during cmake:
[code]
what should i try next?

- here is the full log:

[code]

[2019-09-09 14:22] MisterTea commented on #229
Run  "git submodule update --init --recursive" to fix.

[2019-09-09 14:25] MisterTea commented on #228
I believe #3 is fixed in ET 6.0.  #1 (add -o RemoteForward=no to the ssh command) and #2 (parse RemoteForward option in ssh_config) should be easy for you to add  and we can merge your changes into master :-).

[2019-09-09 18:19] divinity76 commented on #229
sorry, my bad. now i'm getting:

[code]

after some digging, it seems there's a bug in easylogging++, i made a fix here https://github.com/zuhd-org/easyloggingpp/pull/725 , and after applying that patch, i get

[code]
hmm

[2019-09-10 01:34] joshuarubin commented on #228
I've got `master` installed on both the server and client but #3 isn't fixed:
[code]

[2019-09-10 04:20] MisterTea commented on #228
In 6.0, -rt was changed to just -r.

[2019-09-10 04:24] joshuarubin commented on #228
Yeah. Figured that out. The server is still dying.

[2019-09-11 05:14] MisterTea commented on #228
Can you get a stack trace from the logs or by running the server under gdb?

[2019-09-12 07:10] joshuarubin commented on #228
[etserver-2019-09-12_01-08.log](https://github.com/MisterTea/EternalTerminal/files/3604138/etserver-2019-09-12_01-08.log)

[2019-09-14 17:08] jab commented on #204
@MisterTea No segfaults this time, but now `et --logtostdout foo` fails with
[code]
Be advised that `ssh foo` has been working fine all this time. Using `et root@<ip address>` rather than the host alias also results in the same error, "Connected to server but canonname is null somehow".

Thanks for continuing to try to fix this! Would you be willing to increase automated integration testing, or ot

[2019-09-14 17:14] MisterTea commented on #204
@jab That means your et server is not running 6.0.

Sure, I'd be happy to accept a PR that adds more tests.

[2019-09-14 21:52] jab commented on #204
(Didn't want to install a pre-release version on this server, but) tested with a fresh-built-from-latest-master `etserver` on fresh Debian 10 VM, and it worked! Will keep an eye out for the v6 final release to hit your Debian repo, at which point I'll try switching to ET instead of SSH for good.

I won't be able to contribute a PR with more tests any time soon, but hope someone can beat me to it,

[2019-09-14 21:52] #204 closed

[2019-09-18 15:48] ddska commented on #190
Same issue here, have to restart et server after each session.

[2019-09-18 15:50] MisterTea commented on #190
Is your server on master?  This was fixed in https://github.com/MisterTea/EternalTerminal/commit/26fd0f5f0ef88d05d97e41b6b9612a885b48c636 .  I hope to get a new release out in the next couple of weeks